Repository OttoMarcus/NiceGadget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

.gitlab-ci.yml:

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  RULES_CHANGES_PATH: "**/*"
stages:
  - build
  - test
  - sonar
  - deploy

.base-rules:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - $RULES_CHANGES_PATH
    - when: manual
      allow_failure: true

.backend:
  extends: .base-rules
  variables:
    RULES_CHANGES_PATH: "backend/**/*"

.frontend:
  extends: .base-rules
  variables:
    RULES_CHANGES_PATH: "frontend/**/*"

backend-build:
  stage: build
  extends: .backend
  needs: []
  script:
    - echo "Compiling the backend code..."

frontend-build:
  stage: build
  extends: .frontend
  needs: []
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm run build
  artifacts:
    when: on_success
    paths:
      - frontend/build/

frontend-sentry:
  stage: build
  needs: ["frontend-build"]
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm run sentry:sourcemaps
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "frontend/**/*"

backend-test:
  stage: test
  extends: .backend
  needs: ["backend-build"]
  script:
    - echo "Testing the backend code..."

frontend-test:
  stage: test
  extends: .frontend
  needs: ["frontend-build"]
  image: node:latest
  before_script:
    - cd frontend/
    - npm install
  script:
    - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
      - frontend/coverage/
      - frontend/junit.xml
    when: always
    reports:
      junit:
        - frontend/junit.xml

backend-sonar:
  stage: sonar
  extends: .backend
  needs: ["backend-test"]
  script:
    - echo "Deploying the backend code..."

frontend-sonar:
  stage: sonar
  extends: .frontend
  needs: ["frontend-test"]
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner

deploy-to-cloud-run:
  stage: deploy
  needs: ["backend-test"]
  image: registry.gitlab.com/gitlab-org/incubation-engineering/five-minute-production/library/google-cloud-sdk-for-gitlab:main
  script:
    - cp -r ./utils/* .
    - chmod +x cloud-run.sh
    - ./cloud-run.sh
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $DYNAMIC_URL
  artifacts:
    reports:
      dotenv: deploy.env
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "backend/**/*"

deploy-to-firebase:
  stage: deploy
  needs: ["frontend-test"]
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm i -g firebase-tools
    - cat "$FIREBASE_JSON" > ./firebase.json
    - cat "$FIREBASE_RC" > ./.firebaserc
    - firebase deploy --only hosting --token $FIREBASE_TOKEN
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "frontend/**/*"

change schema but have problem with Postman
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

back probably without problem
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat(87): favor back
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

back probably without problem
  backend/controllers/wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

couple problem with reload info
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): favor back
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  frontend/src/API/favorietesAPI.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

have problem with many elem
  backend/controllers/wishlist.js
  frontend/src/API/favorietesAPI.js
  frontend/src/Components/Card/Card.jsx
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): favor back new
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back synchroniz
  backend/controllers/wishlist.js
  backend/routes/wishlist.js
  frontend/src/App.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): favor back new
  backend/controllers/wishlist.js
  backend/routes/wishlist.js
  frontend/src/App.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): favor back synchroniz
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  frontend/src/Composition/Header/Header.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  frontend/src/App.js
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  frontend/src/App.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(): update names of icon components
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/CardList/CardList.jsx
  frontend/src/Components/CartItem/CartItem.jsx
  frontend/src/Components/Favorite/Favorite.jsx
  frontend/src/Components/Icons/CartIcon.jsx
  frontend/src/Components/Icons/CloseIcon.jsx
  frontend/src/Components/Icons/CustomCursor.jsx
  frontend/src/Components/Icons/DownArrowIcon.jsx
  frontend/src/Components/Icons/FavoriteIcon.jsx
  frontend/src/Components/Icons/HeartIcon.jsx
  frontend/src/Components/Icons/HidePasswordIcon.jsx
  frontend/src/Components/Icons/HomeIcon.jsx
  frontend/src/Components/Icons/LeftArrowIcon.jsx
  frontend/src/Components/Icons/LoginIcon.jsx
  frontend/src/Components/Icons/LogoutIcon.jsx
  frontend/src/Components/Icons/MinusIcon.jsx
  frontend/src/Components/Icons/OkIcon.jsx
  frontend/src/Components/Icons/OrderIcon.jsx
  frontend/src/Components/Icons/PlusIcon.jsx
  frontend/src/Components/Icons/PointIcon.jsx
  frontend/src/Components/Icons/RegistrationIcon.jsx
  frontend/src/Components/Icons/RightArrowIcon.jsx
  frontend/src/Components/Icons/ShowPasswordIcon.jsx
  frontend/src/Components/Icons/UpArrowIcon.jsx
  frontend/src/Components/Icons/UserIcon.jsx
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.jsx
  frontend/src/Composition/Footer/Footer.jsx
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/CartPage/CartPage.jsx
  frontend/src/pages/User/User.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

change schema but have problem with Postman
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  backend/routes/wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

back probably without problem
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  backend/routes/wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

have problem with many elem
  backend/controllers/wishlist.js
  frontend/src/API/favorietesAPI.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/pages/Favorites/Favorites.jsx
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): favor back
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  frontend/src/API/favorietesAPI.js
  frontend/src/store/favorites/favoriteSlice.js
  frontend/src/store/user/userSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase
