Repository OttoMarcus/NiceGadget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

backend-build:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: build
  needs: []
  script:
  - echo "Compiling the backend code..."

frontend-build:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: build
  needs: []
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm run build
  artifacts:
    when: on_success
    paths:
    - frontend/build/

frontend-sentry:
  stage: build
  needs:
  - frontend-build
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm run sentry:sourcemaps

backend-test:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: test
  needs:
  - backend-build
  script:
  - echo "Testing the backend code..."

frontend-test:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: test
  needs:
  - frontend-build
  image: node:latest
  before_script:
  - cd frontend/
  - npm install
  script:
  - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
    - frontend/coverage/
    - frontend/junit.xml
    when: always
  ...

backend-sonar:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: sonar
  needs:
  - backend-test
  script:
  - echo "Deploying the backend code..."

frontend-sonar:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: sonar
  needs:
  - frontend-test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner

deploy-to-cloud-run:
  stage: deploy
  needs:
  - backend-test
  image: registry.gitlab.com/gitlab-org/incubation-engineering/five-minute-production/library/google-cloud-sdk-for-gitlab:main
  script:
  - cp -r ./utils/* .
  - chmod +x cloud-run.sh
  - ./cloud-run.sh
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $DYNAMIC_URL
  ...

deploy-to-firebase:
  stage: deploy
  needs:
  - frontend-test
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm i -g firebase-tools
  - cat "$FIREBASE_JSON" > ./firebase.json
  - cat "$FIREBASE_RC" > ./.firebaserc
  - firebase deploy --only hosting --token $FIREBASE_TOKEN

feat(147) - make new styles for orders
  frontend/src/Components/Order/Order.jsx
  frontend/src/Components/Order/Order.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): add final filters and selectsContainer styles; fix redundant request; fix missing default perPageValue
  frontend/src/Components/Filter/FilterOptimized.jsx
  frontend/src/Components/Filter/FilterOptimized.module.scss
  frontend/src/Components/Filter/RangeSlider.jsx
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/Components/PerPageSelect/PerPageSelect.module.scss
  frontend/src/Components/Sort/Sort.jsx
  frontend/src/Components/Sort/Sort.module.scss
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/pages/PhonesPage/PhonesPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): add final filters and selectsContainer styles; fix redundant request; fix missing default perPageValue
  frontend/package-lock.json
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): add final filters and selectsContainer styles; fix redundant request; fix missing default perPageValue
  backend/commonHelpers/filterParser.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat: style orders
  frontend/src/Components/Order/Order.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): add final filters and selectsContainer styles; fix redundant request; fix missing default perPageValue
  frontend/src/Components/PerPageSelect/PerPageSelect.module.scss
  frontend/src/index.js
  frontend/src/pages/PhonesPage/PhonesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): join filters, sort and per page request, increase pagination links...
  backend/commonHelpers/filterParser.js
  backend/controllers/mobileFilters.js
  backend/controllers/mobileProducts.js
  backend/models/MobileFilter.js
  backend/routes/mobileFilters.js
  backend/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Filter/Filter.module.scss
  frontend/src/Components/Filter/FilterOptimized.jsx
  frontend/src/Components/Filter/FilterOptimized.module.scss
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/Components/PerPageSelect/PerPageSelect.module.scss
  frontend/src/Components/Sort/Sort.jsx
  frontend/src/Components/Sort/Sort.module.scss
  frontend/src/index.js
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/pages/PhonesPage/PhonesPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

chore(22): uncomment React Strict Mode and change endpoint path
  frontend/src/Components/Filter/FilterOptimized.jsx
  frontend/src/index.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(22): fix fetch url to begin with "/api"
  frontend/src/Components/Filter/FilterOptimized.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

Style orders
  frontend/src/Components/Icons/DownArrowIconOrders.jsx
  frontend/src/Components/Order/Order.jsx
  frontend/src/Components/Order/Order.module.scss
  frontend/src/Components/Order/hooks/useCreateOrder.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(148): add fallback component
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.module.scss
  frontend/src/index.js
  frontend/src/pages/FallbackPage/FallbackPage.jsx
  frontend/src/pages/FallbackPage/FallbackPage.module.scss
  frontend/src/pages/HomePage/HomePage.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(148): add test for Error Boundary fallback
  frontend/src/pages/HomePage/HomePage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(148): delete test button for ErrorBoundary fallback component
  frontend/src/pages/HomePage/HomePage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(149): add notification toasts for admin
  frontend/src/pages/AdminPage/AdminCards/AdminCardsButtons/DiscountChange/DiscountChange.jsx
  frontend/src/pages/AdminPage/AdminCards/AdminCardsButtons/QuantityChange/QuantityChange.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

send Email Pass
  backend/controllers/customers.js
  backend/emailGenerators/updatePasswordEmailGenerator.js
  frontend/src/Components/BuyTogether/BuyTogether.jsx
  frontend/src/Components/Profile/CustomInput/Input.module.scss
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.jsx
  frontend/src/helpers/protectedRoute.js
  frontend/src/pages/UserPage/UserDataInformation/UserDataInformation.jsx
  frontend/src/pages/UserPage/UserPage.jsx
  frontend/src/pages/UserPage/UserPage.module.scss
  frontend/src/pages/UserPage/UserUpdatePass/UserUpdatePass.jsx
  frontend/src/pages/UserPage/UserUpdatePass/UserUpdatePass.module.scss
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

fit: admin page responsive
  frontend/src/Components/MapContent/MapContent.module.scss
  frontend/src/pages/AdminPage/AdminPage.jsx
  frontend/src/pages/AdminPage/AdminPage.module.scss
  frontend/src/pages/ContactsPage/ContactsPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fit: admin page responsive
  frontend/src/Components/Icons/ArrowOpen.jsx
  frontend/src/pages/AdminPage/AdminOption/AdminOption.jsx
  frontend/src/pages/AdminPage/AdminOption/AdminOption.module.scss
  frontend/src/pages/AdminPage/AdminOptionsContent/IncreaseOrDecreaseProductQuantity/IncreaseOrDecreaseProductQuantity.jsx
  frontend/src/pages/AdminPage/AdminOptionsContent/IncreaseOrDecreaseProductQuantity/IncreaseOrDecreaseProductQuantity.module.scss
  frontend/src/pages/AdminPage/AdminPage.jsx
  frontend/src/pages/AdminPage/AdminPage.module.scss
  frontend/src/pages/AdminPage/AdminSearch/AdminSearch.jsx
  frontend/src/pages/AdminPage/AdminSearch/AdminSearch.module.scss
  frontend/src/pages/AdminPage/ItemsPerPage/ItemsPerPage.jsx
  frontend/src/pages/AdminPage/ItemsPerPage/selectCustomStyles.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fit: admin page responsive
  frontend/src/pages/AdminPage/AdminOption/AdminOption.jsx
  frontend/src/pages/AdminPage/AdminPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fit: admin page responsive
  frontend/src/pages/AccessoriesPage/AccessoriesPage.jsx
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/pages/TabletsPage/TabletsPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(22): large fix
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Filter/Filter.module.scss
  frontend/src/Components/Filter/FilterOptimized.jsx
  frontend/src/Components/Filter/FilterOptimized.module.scss
  frontend/src/Components/Sort/Sort.module.scss
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/pages/PhonesPage/PhonesPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(22): fix extra request on page load; add logic on browser back arrow click; remove logs, unnecessary comments
  backend/controllers/mobileFilters.js
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Filter/Filter.module.scss
  frontend/src/Components/Filter/FilterOptimized.jsx
  frontend/src/Components/Filter/FilterOptimized.module.scss
  frontend/src/Components/Sort/Sort.module.scss
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/pages/PhonesPage/PhonesPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

fix(): add isSearchable={false} for selects
  backend/commonHelpers/filterParser.js
  backend/controllers/accessoriesModels.js
  backend/controllers/accessoriesProduct.js
  backend/controllers/advertisingSlider.js
  backend/controllers/brandNews.js
  backend/controllers/cart.js
  backend/controllers/customers.js
  backend/controllers/mobileModelsQuantity.js
  backend/controllers/mobileProducts.js
  backend/controllers/notifyMeAuthorized.js
  backend/controllers/notifyMeUnauthorized.js
  backend/controllers/orders.js
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/Components/Sort/Sort.jsx
  frontend/src/pages/AdminPage/ItemsPerPage/ItemsPerPage.jsx
  frontend/src/pages/PhonesPage/PhonesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

Path conditions:
  backend-build: any of: **/*
  frontend-build: any of: **/*
  frontend-sentry: any of: frontend/**/*
  backend-test: any of: **/*
  frontend-test: any of: **/*
  backend-sonar: any of: **/*
  frontend-sonar: any of: **/*
  deploy-to-cloud-run: any of: backend/**/*
  deploy-to-firebase: any of: frontend/**/*
