Repository OttoMarcus/NiceGadget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

backend-build:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: build
  needs: []
  script:
  - echo "Compiling the backend code..."

frontend-build:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: build
  needs: []
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm run build
  artifacts:
    when: on_success
    paths:
    - frontend/build/

frontend-sentry:
  stage: build
  needs:
  - frontend-build
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm run sentry:sourcemaps

backend-test:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: test
  needs:
  - backend-build
  script:
  - echo "Testing the backend code..."

frontend-test:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: test
  needs:
  - frontend-build
  image: node:latest
  before_script:
  - cd frontend/
  - npm install
  script:
  - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
    - frontend/coverage/
    - frontend/junit.xml
    when: always
  ...

backend-sonar:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: sonar
  needs:
  - backend-test
  script:
  - echo "Deploying the backend code..."

frontend-sonar:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: sonar
  needs:
  - frontend-test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner

deploy-to-cloud-run:
  stage: deploy
  needs:
  - backend-test
  image: registry.gitlab.com/gitlab-org/incubation-engineering/five-minute-production/library/google-cloud-sdk-for-gitlab:main
  script:
  - cp -r ./utils/* .
  - chmod +x cloud-run.sh
  - ./cloud-run.sh
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $DYNAMIC_URL
  ...

deploy-to-firebase:
  stage: deploy
  needs:
  - frontend-test
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm i -g firebase-tools
  - cat "$FIREBASE_JSON" > ./firebase.json
  - cat "$FIREBASE_RC" > ./.firebaserc
  - firebase deploy --only hosting --token $FIREBASE_TOKEN

(68) - Search page and grid products layout
  frontend/package.json
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/Card/Card.module.scss
  frontend/src/Components/Icons/LogIn.jsx
  frontend/src/Components/Icons/SearchLogo.jsx
  frontend/src/Components/SearchForm/SearchForm.jsx
  frontend/src/Components/SearchForm/SearchForm.module.scss
  frontend/src/Composition/Header/Header.jsx
  frontend/src/Composition/Header/Header.module.scss
  frontend/src/pages/Phones/Phones.jsx
  frontend/src/pages/Phones/Phones.module.scss
  frontend/src/pages/Search/Search.jsx
  frontend/src/pages/Search/Search.module.scss
  frontend/src/pages/Tablets/Tablets.jsx
  frontend/src/routers/RootRouters.jsx
  frontend/src/styles/global/_base.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

back probably without problem
  backend/controllers/wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

back probably without problem
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  backend/routes/wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

change schema but have problem with Postman
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  backend/routes/wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

style(53): add base styles for pages and forms
  frontend/src/Components/Button/Button.jsx
  frontend/src/Components/Button/Button.module.scss
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.module.scss
  frontend/src/Components/Forms/CustomInput.js
  frontend/src/Components/Forms/CustomInput.module.scss
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.module.scss
  frontend/src/pages/LogIn/Login.jsx
  frontend/src/pages/Registration/Registration.jsx
  frontend/src/pages/Registration/Registration.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(90): Buy Form
  frontend/src/Components/BuyForm/BuyForm.jsx
  frontend/src/Components/BuyForm/BuyForm.module.scss
  frontend/src/Components/BuyForm/Preloader/Preloader.jsx
  frontend/src/Components/BuyForm/Preloader/Preloader.module.scss
  frontend/src/Components/BuyForm/icons/cash.png
  frontend/src/Components/BuyForm/icons/mastercard.png
  frontend/src/Components/BuyForm/icons/paypal.png
  frontend/src/Components/BuyForm/icons/visa.png
  frontend/src/Components/Cart/Cart.jsx
  frontend/src/Components/Cart/Cart.module.scss
  frontend/src/pages/AccessoriesPage/AccessoriesPage.jsx
  frontend/src/pages/HomePage/HomePage.jsx
  frontend/src/routers/RootRouters.jsx
  frontend/src/styles/abstracts/_variables.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(90): buy form
  frontend/src/Components/BuyForm/BuyForm.jsx
  frontend/src/Components/BuyForm/BuyForm.module.scss
  frontend/src/Components/BuyForm/icons/cash.png
  frontend/src/Components/BuyForm/icons/mastercard.png
  frontend/src/Components/BuyForm/icons/paypal.png
  frontend/src/Components/BuyForm/icons/visa.png
  frontend/src/Components/Cart/Cart.jsx
  frontend/src/Components/Cart/Cart.module.scss
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

(68) - Grid layout accessories
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/CardAccessories/CardAccessories.jsx
  frontend/src/Components/CardAccessories/CardAccessories.module.scss
  frontend/src/pages/AccessoriesPage/AccessoriesPage.jsx
  frontend/src/pages/AccessoriesPage/AccessoriesPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

have problem with many elem
  backend/controllers/wishlist.js
  frontend/src/API/favorietesAPI.js
  frontend/src/App.js
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/pages/Favorites/Favorites.jsx
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(51): sorting backend test tries
  backend/commonHelpers/filterParser.js
  backend/controllers/mobileProducts.js
  frontend/src/Components/Filter/Filter.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

68-Search
  frontend/src/Components/SearchForm/SearchForm.jsx
  frontend/src/Components/SearchForm/SearchForm.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(51): fixed sorting type sending to server
  backend/controllers/mobileProducts.js
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

fix(51): add minor staged change
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

couple problem with reload info
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  frontend/src/App.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(90)-slider-rebuild-ful
  frontend/src/Components/AdvertisingSlider/Recotypole/Recotypole.jsx
  frontend/src/Components/AdvertisingSlider/Recotypole/Recotypole.module.scss
  frontend/src/Components/AdvertisingSlider/Recotypole/tumbleweed.png
  frontend/src/Components/AdvertisingSlider/Sakura/Sakura.jsx
  frontend/src/Components/AdvertisingSlider/Sakura/Sakura.module.scss
  frontend/src/Components/AdvertisingSlider/Sakura/sakura-leaves.gif
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/AdvertisingSlider/Slider.module.scss
  frontend/src/Components/AdvertisingSlider/Star/Star.jsx
  frontend/src/Components/AdvertisingSlider/Star/Star.module.scss
  frontend/src/Components/AdvertisingSlider/TexasCrustPersonalUseReg-w1nrw.ttf
  frontend/src/Components/AdvertisingSlider/nuku1.ttf
  frontend/src/Components/flexTestbox/FlexBox.jsx
  frontend/src/Components/flexTestbox/FlexBox.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(51): move sort func to parent component, add first load useEffect check on query params
  backend/controllers/mobileProducts.js
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): favor back
  frontend/src/App.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat (90): add FAQ-chat
  backend/controllers/faqchat.js
  backend/models/FAQChat.js
  backend/routes/faqchat.js
  backend/server.js
  frontend/src/Components/FAQchat/FAQchat.jsx
  frontend/src/Components/FAQchat/FAQchat.module.scss
  frontend/src/Components/FAQchat/Image/background.png
  frontend/src/Components/FAQchat/Image/facebook.png
  frontend/src/Components/FAQchat/Image/gmail.png
  frontend/src/Components/FAQchat/Image/instagram.png
  frontend/src/Components/FAQchat/Image/letter-x.gif
  frontend/src/Components/FAQchat/Image/support.gif
  frontend/src/Components/FAQchat/Image/telegram.png
  frontend/src/pages/HomePage/HomePage.jsx
  frontend/src/pages/HomePage/HomePage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(93): add and create social
  frontend/src/Components/FAQchat/FAQchat.jsx
  frontend/src/Components/FAQchat/FAQchat.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  frontend/src/API/favorietesAPI.js
  frontend/src/App.js
  frontend/src/store/favorites/favoriteSlice.js
  frontend/src/store/user/userSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(13): add cart synchronization
  backend/controllers/cart.js
  backend/package-lock.json
  backend/package.json
  backend/routes/cart.js
  frontend/src/API/cartAPI.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/store/cart/cartSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(84): add basic checkout logic and admin possibilities to change quantity and discount of products on backend
  backend/controllers/accessoriesModels.js
  backend/controllers/accessoriesProduct.js
  backend/controllers/advertisingSlider.js
  backend/controllers/mobileModels.js
  backend/controllers/mobileModelsQuantity.js
  backend/controllers/mobileProducts.js
  backend/controllers/tabletModels.js
  backend/controllers/tabletModelsQuantity.js
  backend/controllers/tabletProducts.js
  backend/routes/mobileModelsQuantity.js
  backend/routes/tabletModelsQuantity.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat(50, 51): finished sort logic, add base pagination (logic is not finished)
  backend/controllers/mobileProducts.js
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Pagination/Pagination.jsx
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/Components/PerPageSelect/PerPageSelect.module.scss
  frontend/src/Components/Sort/Sort.jsx
  frontend/src/Components/Sort/Sort.module.scss
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(53): improved styles
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(13): extract useHandleAddToCart and CartButton as separate hook and component
  backend/controllers/cart.js
  frontend/src/API/fetchProductDetails.js
  frontend/src/Components/Button/Button.jsx
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/CardAccessories/CardAccessories.jsx
  frontend/src/Components/Cart/hooks/useHandleAddToCart.js
  frontend/src/Components/CartButton/CartButton.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.jsx
  frontend/src/store/cart/cartSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(95): BrandNew and HotPrices
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/CardList/CardList.jsx
  frontend/src/Components/CardList/CardList.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(13): add redirects for CartButton and Back button on Cart Page
  backend/controllers/cart.js
  frontend/src/App.js
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/CartButton/CartButton.jsx
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/AccessoriesPage/AccessoriesPage.jsx
  frontend/src/pages/CartPage/CartPage.jsx
  frontend/src/pages/CartPage/CartPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(53): add errors catching, fix reg flow, remove unnecessary requests, add styles (no mobile styles)
  frontend/src/App.js
  frontend/src/Components/Button/Button.jsx
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.module.scss
  frontend/src/Components/Forms/CustomInput.js
  frontend/src/Components/Forms/CustomInput.module.scss
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.module.scss
  frontend/src/Components/Icons/HidePassword.jsx
  frontend/src/Components/Icons/ShowPassword.jsx
  frontend/src/pages/LogIn/Login.jsx
  frontend/src/pages/LogIn/Login.module.scss
  frontend/src/pages/Registration/Registration.jsx
  frontend/src/pages/Registration/Registration.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

quick-fix: eslint requirments for unused import
  frontend/src/pages/LogIn/Login.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

quick-fix: eslint requirments for unused import
  frontend/src/pages/Registration/Registration.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(53): add errors catching, fix reg flow, remove unnecessary requests, add...
  frontend/src/Components/Button/Button.jsx
  frontend/src/Components/Button/Button.module.scss
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.module.scss
  frontend/src/Components/Forms/CustomInput.js
  frontend/src/Components/Forms/CustomInput.module.scss
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.module.scss
  frontend/src/Components/Icons/HidePassword.jsx
  frontend/src/Components/Icons/ShowPassword.jsx
  frontend/src/pages/LogIn/Login.jsx
  frontend/src/pages/LogIn/Login.module.scss
  frontend/src/pages/Registration/Registration.jsx
  frontend/src/pages/Registration/Registration.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

(68) - Search page and grid products layout
  frontend/src/Components/SearchForm/SearchForm.jsx
  frontend/src/Components/SearchForm/SearchForm.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

Path conditions:
  backend-build: any of: **/*
  frontend-build: any of: **/*
  frontend-sentry: any of: frontend/**/*
  backend-test: any of: **/*
  frontend-test: any of: **/*
  backend-sonar: any of: **/*
  frontend-sonar: any of: **/*
  deploy-to-cloud-run: any of: backend/**/*
  deploy-to-firebase: any of: frontend/**/*
