Repository OttoMarcus/NiceGadget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

.gitlab-ci.yml:

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  RULES_CHANGES_PATH: "**/*"
stages:
  - build
  - test
  - sonar
  - deploy

.base-rules:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - $RULES_CHANGES_PATH
    - when: manual
      allow_failure: true

.backend:
  extends: .base-rules
  variables:
    RULES_CHANGES_PATH: "backend/**/*"

.frontend:
  extends: .base-rules
  variables:
    RULES_CHANGES_PATH: "frontend/**/*"

backend-build:
  stage: build
  extends: .backend
  needs: []
  script:
    - echo "Compiling the backend code..."

frontend-build:
  stage: build
  extends: .frontend
  needs: []
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm run build
  artifacts:
    when: on_success
    paths:
      - frontend/build/

frontend-sentry:
  stage: build
  needs: ["frontend-build"]
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm run sentry:sourcemaps
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "frontend/**/*"

backend-test:
  stage: test
  extends: .backend
  needs: ["backend-build"]
  script:
    - echo "Testing the backend code..."

frontend-test:
  stage: test
  extends: .frontend
  needs: ["frontend-build"]
  image: node:latest
  before_script:
    - cd frontend/
    - npm install
  script:
    - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
      - frontend/coverage/
      - frontend/junit.xml
    when: always
    reports:
      junit:
        - frontend/junit.xml

backend-sonar:
  stage: sonar
  extends: .backend
  needs: ["backend-test"]
  script:
    - echo "Deploying the backend code..."

frontend-sonar:
  stage: sonar
  extends: .frontend
  needs: ["frontend-test"]
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner

deploy-to-cloud-run:
  stage: deploy
  needs: ["backend-test"]
  image: registry.gitlab.com/gitlab-org/incubation-engineering/five-minute-production/library/google-cloud-sdk-for-gitlab:main
  script:
    - cp -r ./utils/* .
    - chmod +x cloud-run.sh
    - ./cloud-run.sh
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $DYNAMIC_URL
  artifacts:
    reports:
      dotenv: deploy.env
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "backend/**/*"

deploy-to-firebase:
  stage: deploy
  needs: ["frontend-test"]
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm i -g firebase-tools
    - cat "$FIREBASE_JSON" > ./firebase.json
    - cat "$FIREBASE_RC" > ./.firebaserc
    - firebase deploy --only hosting --token $FIREBASE_TOKEN
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "frontend/**/*"

fix(138): fix selectable image gallery
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.jsx
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat: Orders Page
  backend/controllers/orders.js
  backend/routes/orders.js
  frontend/src/App.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.jsx
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/pages/OrdersPage/Order.jsx
  frontend/src/pages/OrdersPage/Order.module.scss
  frontend/src/pages/OrdersPage/Orders.jsx
  frontend/src/pages/OrdersPage/Orders.module.scss
  frontend/src/routers/RootRouters.jsx
  frontend/src/store/orders/OrderNew.js
  frontend/src/store/store.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat: Orders Page styles
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/OrdersPage/Order.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): join filters, sort and per page request, increase pagination links click area, add reset to first page in case of query change
  frontend/src/pages/PhonesPage/PhonesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): quick fix for eslint requirments
  frontend/src/pages/PhonesPage/PhonesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): join filters, sort and per page request, increase pagination links click area, add reset to first page in case of query change
  backend/commonHelpers/filterParser.js
  backend/controllers/mobileProducts.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Filter/Filter.module.scss
  frontend/src/Components/Icons/ClearFiltersIcon.jsx
  frontend/src/Components/Icons/CloseFilterIcon.jsx
  frontend/src/Components/Icons/FilterButtonIcon.jsx
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/pages/PhonesPage/PhonesPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(127): fix styles for checkout form, add validation and autocomplete for authorized user
  backend/controllers/cart.js
  backend/models/Cart.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Cart/Cart/Cart.jsx
  frontend/src/Components/Checkout/CheckoutButton/CheckoutButton.jsx
  frontend/src/Components/Checkout/CheckoutModal/CheckoutModal.jsx
  frontend/src/Components/Checkout/CheckoutModal/CheckoutModal.module.scss
  frontend/src/Components/Checkout/hooks/useValidateCartAndNavigate.js
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.jsx
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.module.scss
  frontend/src/Components/Forms/CheckoutForm/validationSchema.js
  frontend/src/Components/Forms/CustomInput/CustomInput.js
  frontend/src/Components/Forms/CustomInput/CustomInput.module.scss
  frontend/src/Components/Forms/CustomInputCheckout/CustomInputCheckout.js
  frontend/src/Components/Forms/CustomInputCheckout/CustomInputCheckout.module.scss
  frontend/src/Components/Forms/LoginForm/LoginForm.js
  frontend/src/Components/Forms/LoginForm/LoginForm.module.scss
  frontend/src/Components/Forms/LoginForm/validationSchema.js
  frontend/src/Components/Forms/RegistrationForm/RegistrationForm.js
  frontend/src/Components/Forms/RegistrationForm/RegistrationForm.module.scss
  frontend/src/Components/Forms/RegistrationForm/validationSchema.js
  frontend/src/pages/LogIn/Login.jsx
  frontend/src/pages/LoginPage/LoginPage.jsx
  frontend/src/pages/LoginPage/LoginPage.module.scss
  frontend/src/pages/Registration/Registration.jsx
  frontend/src/pages/RegistrationPage/RegistrationPage.jsx
  frontend/src/pages/RegistrationPage/RegistrationPage.module.scss
  frontend/src/pages/User/UserDataInformation/UserDataInformation.jsx
  frontend/src/routers/RootRouters.jsx
  frontend/src/styles/abstracts/_mixins.scss
  frontend/src/styles/abstracts/_variables.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(22): add styles to filters
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Filter/Filter.module.scss
  frontend/src/Components/Filter/FilterReactAccord.jsx
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/pages/PhonesPage/PhonesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): add style to filters
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Filter/Filter.module.scss
  frontend/src/Components/PerPageSelect/PerPageSelect.module.scss
  frontend/src/Components/Sort/Sort.jsx
  frontend/src/pages/AdminPage/AdminOptionsContent/AddBrandNew/AddBrandNew.jsx
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/pages/PhonesPage/PhonesPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(25): Order Page
  backend/controllers/orders.js
  backend/routes/orders.js
  frontend/src/App.js
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.jsx
  frontend/src/Components/Forms/LoginForm/LoginForm.js
  frontend/src/Components/Forms/RegistrationForm/RegistrationForm.js
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/OrdersPage/Order.jsx
  frontend/src/pages/OrdersPage/Order.module.scss
  frontend/src/pages/OrdersPage/Orders.jsx
  frontend/src/pages/OrdersPage/Orders.module.scss
  frontend/src/routers/RootRouters.jsx
  frontend/src/store/orders/OrderNew.js
  frontend/src/store/store.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(22): add filter params creation on backend; add accordion logic, input range for price, reduce code amout; logic needs to be fixed according to new approach
  backend/controllers/mobileFilters.js
  backend/models/MobileFilter.js
  backend/routes/mobileFilters.js
  backend/server.js
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Filter/FilterOptimized.jsx
  frontend/src/Components/Filter/FilterOptimized.module.scss
  frontend/src/pages/PhonesPage/PhonesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(22): add style to filters
  frontend/src/Components/BrandNews/BrandNews.jsx
  frontend/src/Components/BrandNews/useFetchBrandNew.js
  frontend/src/pages/AdminPage/AdminOptionsContent/AddBrandNew/AddBrandNew.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(140): Optimisation components
  frontend/src/Components/AdvertisingSlider/Sakura/Sakura.jsx
  frontend/src/Components/AdvertisingSlider/Sakura/Sakura.module.scss
  frontend/src/Components/AdvertisingSlider/Sakura/sakura-leaves.gif
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/AdvertisingSlider/Slider.module.scss
  frontend/src/Components/AdvertisingSlider/Star/Star.jsx
  frontend/src/Components/AdvertisingSlider/Star/Star.module.scss
  frontend/src/Components/AdvertisingSlider/sliderUtil.js
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/styles/fonts/Nuku.ttf
  frontend/src/styles/fonts/Texas.ttf
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(140): Optimisation components
  frontend/src/Components/AdvertisingSlider/sliderUtil.js
  frontend/src/Components/BrandNews/BrandNews.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(140): Optimisation components
  frontend/src/App.js
  frontend/src/pages/PhonesPage/PhonesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

140-optimisation-componetns
  frontend/src/App.js
  frontend/src/Components/AdvertisingSlider/Sakura/Sakura.jsx
  frontend/src/Components/AdvertisingSlider/Sakura/Sakura.module.scss
  frontend/src/Components/AdvertisingSlider/Sakura/sakura-leaves.gif
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/AdvertisingSlider/Slider.module.scss
  frontend/src/Components/AdvertisingSlider/Star/Star.jsx
  frontend/src/Components/AdvertisingSlider/Star/Star.module.scss
  frontend/src/Components/AdvertisingSlider/sliderUtil.js
  frontend/src/Components/BrandNews/BrandNews.jsx
  frontend/src/Components/BrandNews/useFetchBrandNew.js
  frontend/src/pages/AdminPage/AdminOptionsContent/AddBrandNew/AddBrandNew.jsx
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/styles/fonts/Nuku.ttf
  frontend/src/styles/fonts/Texas.ttf
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(99): add cart validation for Place Order and combine with order creating
  frontend/src/Components/Cart/Cart/Cart.jsx
  frontend/src/Components/Cart/CartItem/CartItem.jsx
  frontend/src/Components/Checkout/CheckoutButton/CheckoutButton.jsx
  frontend/src/Components/Checkout/CheckoutModal/CheckoutModal.jsx
  frontend/src/Components/Checkout/hooks/useCartValidationModal.js
  frontend/src/Components/Checkout/hooks/useValidateCartAndNavigate.js
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.jsx
  frontend/src/Components/Icons/TrashIcon.jsx
  frontend/src/Components/Order/Order.jsx
  frontend/src/Components/Order/Order.module.scss
  frontend/src/Components/Order/hooks/useCreateOrder.js
  frontend/src/pages/OrdersPage/OrdersPage.jsx
  frontend/src/pages/OrdersPage/OrdersPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

edit-orders-slice
  frontend/src/Components/Forms/LoginForm/LoginForm.js
  frontend/src/Components/Forms/RegistrationForm/RegistrationForm.js
  frontend/src/Components/Icons/OrderIcon.jsx
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/User/User.jsx
  frontend/src/pages/User/User.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(140): Optimisation components
  frontend/src/Components/FAQchat/FAQchat.jsx
  frontend/src/pages/PhonesPage/PhonesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fixed link
  frontend/src/Components/FAQchat/FAQchat.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

Fit ContactPage add debounce func, som styles
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Cards/Card.module.scss
  frontend/src/Composition/Footer/Footer.module.scss
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/Contacts/LocationAddress/City.module.scss
  frontend/src/pages/SearchPage/SearchPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(141): email registration
  backend/emailGenerators/emailWelcome.css
  backend/emailGenerators/welcomeEmailGenerator.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

style(106): update styles for login & registration forms
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.jsx
  frontend/src/Components/Forms/CustomInput/CustomInput.js
  frontend/src/Components/Forms/CustomInput/CustomInput.module.scss
  frontend/src/Components/Forms/CustomInputCheckout/CustomInputCheckout.js
  frontend/src/Components/Forms/CustomInputCheckout/CustomInputCheckout.module.scss
  frontend/src/Components/Forms/LoginForm/LoginForm.js
  frontend/src/Components/Forms/LoginForm/LoginForm.module.scss
  frontend/src/Components/Forms/RegistrationForm/RegistrationForm.js
  frontend/src/Components/Forms/RegistrationForm/RegistrationForm.module.scss
  frontend/src/Components/Forms/RegistrationForm/validationSchema.js
  frontend/src/pages/LoginPage/LoginPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

styles(): fix styles for main page, shop by category, contacts page, all categories pages, chore folders
  frontend/src/Components/Icons/FacebookIcon.jsx
  frontend/src/Components/Icons/InstagramIcon.jsx
  frontend/src/Components/Icons/TwitterIcon.jsx
  frontend/src/Components/ShopByCategory/ShopByCategory.module.scss
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.module.scss
  frontend/src/pages/AccessoriesPage/AccessoriesPage.module.scss
  frontend/src/pages/ContactsPage/ContactsPage.jsx
  frontend/src/pages/ContactsPage/ContactsPage.module.scss
  frontend/src/pages/ContactsPage/LocationAddress/AddressInfo.jsx
  frontend/src/pages/ContactsPage/LocationAddress/City.module.scss
  frontend/src/pages/ContactsPage/LocationAddress/CityTab.jsx
  frontend/src/pages/ContactsPage/Social/Social.jsx
  frontend/src/pages/HomePage/HomePage.jsx
  frontend/src/pages/HomePage/HomePage.module.scss
  frontend/src/pages/PhonesPage/PhonesPage.module.scss
  frontend/src/pages/RightsPage/RightsPage.jsx
  frontend/src/pages/RightsPage/RightsPage.module.scss
  frontend/src/pages/TabletsPage/TabletsPage.jsx
  frontend/src/pages/TabletsPage/TabletsPage.module.scss
  frontend/src/pages/UserPage/UserDataInformation/UserDataInformation.jsx
  frontend/src/pages/UserPage/UserDataInformation/UserDataInformation.module.scss
  frontend/src/pages/UserPage/UserPage.jsx
  frontend/src/pages/UserPage/UserPage.module.scss
  frontend/src/pages/UserPage/UserUpdatePass/UserUpdatePass.jsx
  frontend/src/pages/UserPage/UserUpdatePass/UserUpdatePass.module.scss
  frontend/src/pages/UserPage/UserUpdatePass/validationSchema.js
  frontend/src/routers/RootRouters.jsx
  frontend/src/styles/global/_base.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix for phone number format in backend validation and for saving in database
  backend/validation/formValidationRules.js
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.jsx
  frontend/src/Components/Forms/RegistrationForm/RegistrationForm.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(22): fixed common filter logic, change styles
  backend/controllers/mobileFilters.js
  backend/controllers/mobileProducts.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Filter/FilterOptimized.jsx
  frontend/src/Components/Filter/FilterOptimized.module.scss
  frontend/src/Components/Filter/FilterReactAccord.jsx
  frontend/src/Components/Filter/RangeSlider.jsx
  frontend/src/pages/PhonesPage/PhonesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(22): fixed common filter logic, change styles
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Filter/FilterOptimized.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

StylingProfile
  frontend/src/Components/BuyTogether/BuyTogether.jsx
  frontend/src/Components/Forms/CustomInputCheckout/CustomInputCheckout.module.scss
  frontend/src/Components/Forms/LoginForm/LoginForm.js
  frontend/src/Components/Forms/LoginForm/validationSchema.js
  frontend/src/Components/Forms/RegistrationForm/RegistrationForm.js
  frontend/src/Components/Forms/RegistrationForm/validationSchema.js
  frontend/src/Components/Icons/UpdatePassIcon.jsx
  frontend/src/Components/Icons/UserInfoIcon.jsx
  frontend/src/Components/Profile/CustomInput/Input.module.scss
  frontend/src/Components/Profile/InputWithStrength/InputWithStrength.js
  frontend/src/Components/Profile/InputWithStrength/InputWithStrength.module.scss
  frontend/src/Components/Profile/ModalStatusInfo/ModalStatusInfo.module.scss
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.jsx
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.module.scss
  frontend/src/helpers/mixAccessoriesAndPhones.js
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.module.scss
  frontend/src/pages/UserPage/UserDataInformation/UserDataInformation.jsx
  frontend/src/pages/UserPage/UserDataInformation/UserDataInformation.module.scss
  frontend/src/pages/UserPage/UserDataInformation/validationSchema.js
  frontend/src/pages/UserPage/UserPage.jsx
  frontend/src/pages/UserPage/UserPage.module.scss
  frontend/src/pages/UserPage/UserUpdatePass/UserUpdatePass.jsx
  frontend/src/pages/UserPage/UserUpdatePass/UserUpdatePass.module.scss
  frontend/src/routers/RootRouters.jsx
  node_modules/.package-lock.json
  package-lock.json
  package.json
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

Revert "StylingProfile"
  frontend/src/Components/BuyTogether/BuyTogether.jsx
  frontend/src/Components/Forms/CustomInputCheckout/CustomInputCheckout.module.scss
  frontend/src/Components/Forms/LoginForm/LoginForm.js
  frontend/src/Components/Forms/LoginForm/validationSchema.js
  frontend/src/Components/Forms/RegistrationForm/RegistrationForm.js
  frontend/src/Components/Forms/RegistrationForm/validationSchema.js
  frontend/src/Components/Icons/UpdatePassIcon.jsx
  frontend/src/Components/Icons/UserInfoIcon.jsx
  frontend/src/Components/Profile/CustomInput/Input.module.scss
  frontend/src/Components/Profile/InputWithStrength/InputWithStrength.js
  frontend/src/Components/Profile/InputWithStrength/InputWithStrength.module.scss
  frontend/src/Components/Profile/ModalStatusInfo/ModalStatusInfo.module.scss
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.jsx
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.module.scss
  frontend/src/helpers/mixAccessoriesAndPhones.js
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.module.scss
  frontend/src/pages/UserPage/UserDataInformation/UserDataInformation.jsx
  frontend/src/pages/UserPage/UserDataInformation/UserDataInformation.module.scss
  frontend/src/pages/UserPage/UserDataInformation/validationSchema.js
  frontend/src/pages/UserPage/UserPage.jsx
  frontend/src/pages/UserPage/UserPage.module.scss
  frontend/src/pages/UserPage/UserUpdatePass/UserUpdatePass.jsx
  frontend/src/pages/UserPage/UserUpdatePass/UserUpdatePass.module.scss
  frontend/src/pages/UserPage/UserUpdatePass/validationSchema.js
  frontend/src/routers/RootRouters.jsx
  node_modules/.package-lock.json
  package-lock.json
  package.json
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(): styles of backend status and errors for login and registration forms
  frontend/src/Components/Cart/Cart/Cart.jsx
  frontend/src/Components/Forms/LoginForm/LoginForm.module.scss
  frontend/src/Components/Forms/RegistrationForm/RegistrationForm.module.scss
  frontend/src/pages/ContactsPage/ContactsPage.module.scss
  frontend/src/pages/FavoritesPage/FavoritesPage.jsx
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(101): stylingProfile
  frontend/src/Components/BuyTogether/BuyTogether.jsx
  frontend/src/Components/Forms/CustomInput/CustomInput.module.scss
  frontend/src/Components/Forms/CustomInputCheckout/CustomInputCheckout.module.scss
  frontend/src/Components/Forms/RegistrationForm/validationSchema.js
  frontend/src/Components/Icons/UpdatePassIcon.jsx
  frontend/src/Components/Icons/UserInfoIcon.jsx
  frontend/src/Components/Profile/CustomInput/Input.js
  frontend/src/Components/Profile/CustomInput/Input.module.scss
  frontend/src/Components/Profile/InputWithStrength/InputWithStrength.js
  frontend/src/Components/Profile/InputWithStrength/InputWithStrength.module.scss
  frontend/src/Components/Profile/InputWithStrength/imgPassword/hide-pass.svg
  frontend/src/Components/Profile/InputWithStrength/imgPassword/show-pass.svg
  frontend/src/Components/Profile/ModalStatusInfo/ModalStatusInfo.module.scss
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.jsx
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.module.scss
  frontend/src/helpers/mixAccessoriesAndPhones.js
  frontend/src/pages/OrdersPage/Orders.jsx
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.module.scss
  frontend/src/pages/UserPage/UserDataInformation/UserDataInformation.jsx
  frontend/src/pages/UserPage/UserDataInformation/UserDataInformation.module.scss
  frontend/src/pages/UserPage/UserDataInformation/validationSchema.js
  frontend/src/pages/UserPage/UserPage.jsx
  frontend/src/pages/UserPage/UserPage.module.scss
  frontend/src/pages/UserPage/UserUpdatePass/UserUpdatePass.jsx
  frontend/src/pages/UserPage/UserUpdatePass/UserUpdatePass.module.scss
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(142): active pages, memoised search result
  frontend/public/MocPic/iphone1.png
  frontend/public/MocPic/iphone2.png
  frontend/public/MocPic/iphone3.png
  frontend/public/MocPic/iphone4.png
  frontend/src/Components/Cards/Card.jsx
  frontend/src/Components/Cards/Card.module.scss
  frontend/src/Composition/Footer/Footer.jsx
  frontend/src/Composition/Footer/Footer.module.scss
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/ContactsPage/ContactsPage.module.scss
  frontend/src/pages/ContactsPage/LocationAddress/City.module.scss
  frontend/src/pages/SearchPage/SearchPage.jsx
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

style(22): add some mobile styles to filters and selectsContainer
  frontend/src/Components/Filter/FilterOptimized.jsx
  frontend/src/Components/Filter/FilterOptimized.module.scss
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/pages/PhonesPage/PhonesPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): quick fix for eslint requirments
  frontend/src/Components/Filter/FilterOptimized.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

style(22): add mobile styles
  frontend/src/Components/Filter/FilterOptimized.jsx
  frontend/src/Components/Filter/FilterOptimized.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(85): add notify when available
  .gitlab-ci.yml
  backend/commonHelpers/combineTwoArraysInArrayWithUniqueValues.js
  backend/commonHelpers/filterParser.js
  backend/commonHelpers/sendNotificationToNotRegisteredSubscribers.js
  backend/commonHelpers/sendNotificationToSubscribers.js
  backend/controllers/accessoriesModelQuantity.js
  backend/controllers/mobileModelsQuantity.js
  backend/controllers/notifyMeAuthorized.js
  backend/controllers/notifyMeUnauthorized.js
  backend/controllers/orders.js
  backend/controllers/tabletModelsQuantity.js
  backend/emailGenerators/accessoriesAvailableEmailGenerator.js
  backend/emailGenerators/phonesOrTabletsAvailableEmailGenerator.js
  backend/models/NotifyMeAuthorized.js
  backend/models/NotifyMeUnauthorized.js
  backend/routes/notifyMeAuthorized.js
  backend/routes/notifyMeUnauthorized.js
  backend/server.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/API/notifyAuthorizedAPI.js
  frontend/src/API/notifyUnauthorizedAPI.js
  frontend/src/App.js
  frontend/src/Components/Button/Button.module.scss
  frontend/src/Components/Button/NotifyWhenAvailable/CustomEmailInput/CustomEmailInput.jsx
  frontend/src/Components/Button/NotifyWhenAvailable/CustomEmailInput/CustomEmailInput.module.scss
  frontend/src/Components/Button/NotifyWhenAvailable/NotifyModal/NotifyModal.jsx
  frontend/src/Components/Button/NotifyWhenAvailable/NotifyModal/NotifyModal.module.scss
  frontend/src/Components/Cart/CartButton/CartButton.jsx
  frontend/src/pages/AdminPage/AdminCards/AdminCardsButtons/QuantityChange/QuantityChange.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

fix(146): add backend validation for orders, fix order creating
  backend/controllers/orders.js
  backend/models/Order.js
  backend/validation/formValidationRules.js
  frontend/src/Components/Checkout/hooks/useValidateCartAndNavigate.js
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.jsx
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.module.scss
  frontend/src/Components/Order/Order.jsx
  frontend/src/Components/Order/Order.module.scss
  frontend/src/Components/Order/hooks/useCreateOrder.js
  frontend/src/pages/OrdersPage/Order.jsx
  frontend/src/pages/OrdersPage/Order.module.scss
  frontend/src/pages/OrdersPage/Orders.jsx
  frontend/src/pages/OrdersPage/Orders.module.scss
  frontend/src/pages/OrdersPage/OrdersPage.jsx
  frontend/src/routers/RootRouters.jsx
  frontend/src/store/orders/OrderNew.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

fix(146): fix email frontend validation for checkout form
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.jsx
  frontend/src/Components/Forms/CheckoutForm/validationSchema.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fit: admin page responsive
  frontend/src/Components/MapContent/MapContent.module.scss
  frontend/src/pages/AdminPage/AdminPage.jsx
  frontend/src/pages/AdminPage/AdminPage.module.scss
  frontend/src/pages/ContactsPage/ContactsPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase
