Repository OttoMarcus/NiceGadget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

backend-build:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: build
  needs: []
  script:
  - echo "Compiling the backend code..."

frontend-build:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: build
  needs: []
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm run build
  artifacts:
    when: on_success
    paths:
    - frontend/build/

frontend-sentry:
  stage: build
  needs:
  - frontend-build
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm run sentry:sourcemaps

backend-test:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: test
  needs:
  - backend-build
  script:
  - echo "Testing the backend code..."

frontend-test:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: test
  needs:
  - frontend-build
  image: node:latest
  before_script:
  - cd frontend/
  - npm install
  script:
  - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
    - frontend/coverage/
    - frontend/junit.xml
    when: always
  ...

backend-sonar:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: sonar
  needs:
  - backend-test
  script:
  - echo "Deploying the backend code..."

frontend-sonar:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: sonar
  needs:
  - frontend-test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner

deploy-to-cloud-run:
  stage: deploy
  needs:
  - backend-test
  image: registry.gitlab.com/gitlab-org/incubation-engineering/five-minute-production/library/google-cloud-sdk-for-gitlab:main
  script:
  - cp -r ./utils/* .
  - chmod +x cloud-run.sh
  - ./cloud-run.sh
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $DYNAMIC_URL
  ...

deploy-to-firebase:
  stage: deploy
  needs:
  - frontend-test
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm i -g firebase-tools
  - cat "$FIREBASE_JSON" > ./firebase.json
  - cat "$FIREBASE_RC" > ./.firebaserc
  - firebase deploy --only hosting --token $FIREBASE_TOKEN

fich: Slider
  frontend/src/components/Icons/Close.jsx
  frontend/src/components/Icons/DownArrow.jsx
  frontend/src/components/Icons/Favorite.jsx
  frontend/src/components/Icons/Home.jsx
  frontend/src/components/Icons/LeftArrow.jsx
  frontend/src/components/Icons/Minus.jsx
  frontend/src/components/Icons/Plus.jsx
  frontend/src/components/Icons/RightArrow.jsx
  frontend/src/components/Icons/Search.jsx
  frontend/src/components/Icons/UpArrow.jsx
  frontend/src/components/MainComp/Main.jsx
  frontend/src/components/MainComp/Main.module.scss
  frontend/src/styles/global/_reset.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fich: Component in slider
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/HeaderComp/Header.module.scss
  frontend/src/components/MainComp/Main.jsx
  frontend/src/components/MainComp/Main.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fich: Component in slider (debug)
  frontend/src/components/HeaderComp/Header.module.scss
  frontend/src/components/MainComp/Main.jsx
  frontend/src/components/MainComp/Main.module.scss
  frontend/src/styles/global/_base.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

build(8): Configure ESLint For React
  .gitlab-ci.yml
  README.md
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(9): Setup initial backend
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/server_legacy.js
  backend/server_quick_test.js
  utils/cloud-run.sh
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

fix(27): Drop FIREBASE_TOKEN
  .gitlab-ci.yml
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

build(28): Enable Manual Deployment
  .gitlab-ci.yml
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

build(29): Update Backend Link
  README.md
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

fix(30): Update Firebase CD
  .gitlab-ci.yml
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

fix(30): Include needs on frontend-build
  .gitlab-ci.yml
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

fich: All Slider \ Categories
  frontend/src/components/ByCategory/ByCategory.jsx
  frontend/src/components/ByCategory/ByCategory.module.scss
  frontend/src/components/ByCategory/imageCat1.png
  frontend/src/components/ByCategory/imageCat2.png
  frontend/src/components/ByCategory/imageCat3.png
  frontend/src/components/CardComp/Card.jsx
  frontend/src/components/CardComp/Card.module.scss
  frontend/src/components/CardComp/image 2.png
  frontend/src/components/CardComp/iphone1.png
  frontend/src/components/CardComp/iphone2.png
  frontend/src/components/CardComp/iphone3.png
  frontend/src/components/CardComp/iphone4.png
  frontend/src/components/HeaderComp/Header.jsx
  frontend/src/components/HeaderComp/Header.module.scss
  frontend/src/components/Icons/LogIn.jsx
  frontend/src/components/Icons/LogOut.jsx
  frontend/src/components/Icons/Order.jsx
  frontend/src/components/MainComp/Main.jsx
  frontend/src/components/MainComp/Main.module.scss
  frontend/src/components/Slider/BrandSlider/BrandSlider.jsx
  frontend/src/components/Slider/BrandSlider/BrandSlider.module.scss
  frontend/src/components/Slider/BrandSlider/iphone1.png
  frontend/src/components/Slider/BrandSlider/iphone2.png
  frontend/src/components/Slider/BrandSlider/iphone3.png
  frontend/src/components/Slider/BrandSlider/iphone4.png
  frontend/src/styles/global/_base.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(32): configure prettier
  frontend/.husky/pre-commit
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fich: Routes with components
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/components/CardComp/Card.module.scss
  frontend/src/components/HeaderComp/Header.jsx
  frontend/src/components/HeaderComp/Header.module.scss
  frontend/src/components/RouteComp/Accessories/Accessories.jsx
  frontend/src/components/RouteComp/Accessories/Accessories.module.scss
  frontend/src/components/RouteComp/Favorites/Favorites.jsx
  frontend/src/components/RouteComp/Favorites/Favorites.module.scss
  frontend/src/components/RouteComp/LogIn/Login.jsx
  frontend/src/components/RouteComp/LogIn/Login.module.scss
  frontend/src/components/RouteComp/LogOut/Logout.jsx
  frontend/src/components/RouteComp/LogOut/Logout.module.scss
  frontend/src/components/RouteComp/Order/Order.jsx
  frontend/src/components/RouteComp/Order/Order.module.scss
  frontend/src/components/RouteComp/Phones/Phones.jsx
  frontend/src/components/RouteComp/Phones/Phones.module.scss
  frontend/src/components/RouteComp/ShopppingCart/ShoppingCart.jsx
  frontend/src/components/RouteComp/ShopppingCart/ShoppingCart.module.scss
  frontend/src/components/RouteComp/Tablets/Tablets.jsx
  frontend/src/components/RouteComp/Tablets/Tablets.module.scss
  frontend/src/index.js
  frontend/src/styles/abstracts/_variables.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

fich: Routes with components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Firebase.js
  frontend/src/components/HeaderComp/Header.jsx
  frontend/src/components/Icons/Registration.jsx
  frontend/src/components/MainComp/Main.jsx
  frontend/src/components/RouteComp/LogIn/Login.jsx
  frontend/src/components/RouteComp/Registration/Registration.jsx
  frontend/src/components/RouteComp/Registration/Registration.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat: ProductPage comp
  frontend/src/components/CardComp/Card.jsx
  frontend/src/components/ProductPage/ProductPage.jsx
  frontend/src/components/ProductPage/ProductPage.module.scss
  frontend/src/components/ProductPage/iphone 13 front.png
  frontend/src/components/RouteComp/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat: ProductPage comp (test)
  backend/.env
  frontend/src/components/Banner/FirstBanner/FirstBanner.jsx
  frontend/src/components/Banner/FirstBanner/FirstBanner.module.scss
  frontend/src/components/Banner/FirstBanner/iphone15.jpg
  frontend/src/components/Banner/SecondBanner/SecondBanner.jsx
  frontend/src/components/Banner/SecondBanner/SecondBanner.module.scss
  frontend/src/components/Banner/SecondBanner/iphone11.png
  frontend/src/components/Slider/AdvSlider/Slider.jsx
  frontend/src/components/Slider/AdvSlider/Slider.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

testing
  backend/.env
  backend/controllers/mobile.js
  backend/controllers/products.js
  backend/models/Mobile.js
  backend/models/Product.js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  frontend/src/App.js
  frontend/src/components/ProductPage/ProductPage.jsx
  frontend/src/components/RouteComp/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

testing
  frontend/src/App.js
  frontend/src/components/HeaderComp/Header.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

style(1): add variables.scss
  frontend/src/styles/abstracts/_variables.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

style(35): add mixins
  frontend/src/styles/abstracts/_mixins.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(12): add icons as components , install propTypes
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/icons/Burger.jsx
  frontend/src/components/icons/Cart.jsx
  frontend/src/components/icons/Close.jsx
  frontend/src/components/icons/Cursor.jsx
  frontend/src/components/icons/DownArrow.jsx
  frontend/src/components/icons/Favorite.jsx
  frontend/src/components/icons/Home.jsx
  frontend/src/components/icons/LeftArrow.jsx
  frontend/src/components/icons/LogIn.jsx
  frontend/src/components/icons/LogOut.jsx
  frontend/src/components/icons/Logo.jsx
  frontend/src/components/icons/Minus.jsx
  frontend/src/components/icons/Order.jsx
  frontend/src/components/icons/Plus.jsx
  frontend/src/components/icons/Point.jsx
  frontend/src/components/icons/Registration.jsx
  frontend/src/components/icons/RightArrow.jsx
  frontend/src/components/icons/Search.jsx
  frontend/src/components/icons/UpArrow.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

style(2): add fonts and fonts.scss
  frontend/src/styles/global/_base.scss
  frontend/src/styles/global/_fonts.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

testing
  backend/controllers/iPhone13Model.js
  backend/controllers/test.js
  backend/models/IPhone13Model.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

testing
  backend/controllers/test.js
  backend/models/IPhone13Model.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

chore(38): clean up App
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/__snapshots__/App.test.js.snap
  frontend/src/components/icons/Burger.jsx
  frontend/src/components/icons/Cart.jsx
  frontend/src/components/icons/Close.jsx
  frontend/src/components/icons/Cursor.jsx
  frontend/src/components/icons/DownArrow.jsx
  frontend/src/components/icons/Favorite.jsx
  frontend/src/components/icons/Home.jsx
  frontend/src/components/icons/LeftArrow.jsx
  frontend/src/components/icons/LogIn.jsx
  frontend/src/components/icons/LogOut.jsx
  frontend/src/components/icons/Logo.jsx
  frontend/src/components/icons/Minus.jsx
  frontend/src/components/icons/Order.jsx
  frontend/src/components/icons/Plus.jsx
  frontend/src/components/icons/Point.jsx
  frontend/src/components/icons/Registration.jsx
  frontend/src/components/icons/RightArrow.jsx
  frontend/src/components/icons/Search.jsx
  frontend/src/components/icons/UpArrow.jsx
  frontend/src/styles/abstracts/_mixins.scss
  frontend/src/styles/abstracts/_variables.scss
  frontend/src/styles/global/_base.scss
  frontend/src/styles/global/_fonts.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

Revert "chore(38): clean up App"
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/__snapshots__/App.test.js.snap
  frontend/src/components/icons/Burger.jsx
  frontend/src/components/icons/Cart.jsx
  frontend/src/components/icons/Close.jsx
  frontend/src/components/icons/Cursor.jsx
  frontend/src/components/icons/DownArrow.jsx
  frontend/src/components/icons/Favorite.jsx
  frontend/src/components/icons/Home.jsx
  frontend/src/components/icons/LeftArrow.jsx
  frontend/src/components/icons/LogIn.jsx
  frontend/src/components/icons/LogOut.jsx
  frontend/src/components/icons/Logo.jsx
  frontend/src/components/icons/Minus.jsx
  frontend/src/components/icons/Order.jsx
  frontend/src/components/icons/Plus.jsx
  frontend/src/components/icons/Point.jsx
  frontend/src/components/icons/Registration.jsx
  frontend/src/components/icons/RightArrow.jsx
  frontend/src/components/icons/Search.jsx
  frontend/src/components/icons/UpArrow.jsx
  frontend/src/styles/abstracts/_mixins.scss
  frontend/src/styles/abstracts/_variables.scss
  frontend/src/styles/global/_base.scss
  frontend/src/styles/global/_fonts.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(38): clean up app
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/__snapshots__/App.test.js.snap
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

testing
  backend/controllers/test.js
  backend/models/Item.js
  backend/models/Mobile.js
  backend/models/testMobile.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

fix(41): scss bug module
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/__snapshots__/App.test.js.snap
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(42): create route
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/Header/Header.jsx
  frontend/src/components/Header/Header.module.scss
  frontend/src/components/RouteComp/Accessories/Accessories.jsx
  frontend/src/components/RouteComp/Accessories/Accessories.module.scss
  frontend/src/components/RouteComp/Favorites/Favorites.jsx
  frontend/src/components/RouteComp/Favorites/Favorites.module.scss
  frontend/src/components/RouteComp/LogIn/Login.jsx
  frontend/src/components/RouteComp/LogIn/Login.module.scss
  frontend/src/components/RouteComp/LogOut/Logout.jsx
  frontend/src/components/RouteComp/LogOut/Logout.module.scss
  frontend/src/components/RouteComp/Main/Main.jsx
  frontend/src/components/RouteComp/Main/Main.module.scss
  frontend/src/components/RouteComp/Order/Order.jsx
  frontend/src/components/RouteComp/Order/Order.module.scss
  frontend/src/components/RouteComp/Phones/Phones.jsx
  frontend/src/components/RouteComp/Phones/Phones.module.scss
  frontend/src/components/RouteComp/Registration/Registration.jsx
  frontend/src/components/RouteComp/Registration/Registration.module.scss
  frontend/src/components/RouteComp/ShopppingCart/ShoppingCart.jsx
  frontend/src/components/RouteComp/ShopppingCart/ShoppingCart.module.scss
  frontend/src/components/RouteComp/Tablets/Tablets.jsx
  frontend/src/components/RouteComp/Tablets/Tablets.module.scss
  frontend/src/index.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

43-Header, Footer routers
  frontend/public/MocPic/accessories.png
  frontend/public/MocPic/iphone1.png
  frontend/public/MocPic/iphone2.png
  frontend/public/MocPic/iphone3.png
  frontend/public/MocPic/iphone4.png
  frontend/public/MocPic/tablet.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/Composition/Footer/Footer.jsx
  frontend/src/Composition/Footer/Footer.module.scss
  frontend/src/Composition/Header/Header.jsx
  frontend/src/Composition/Header/Header.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(12) Icons SVG as components
  frontend/src/Components/Icons/Burger.jsx
  frontend/src/Components/Icons/Cart.jsx
  frontend/src/Components/Icons/Close.jsx
  frontend/src/Components/Icons/Cursor.jsx
  frontend/src/Components/Icons/DownArrow.jsx
  frontend/src/Components/Icons/Favorite.jsx
  frontend/src/Components/Icons/Home.jsx
  frontend/src/Components/Icons/LeftArrow.jsx
  frontend/src/Components/Icons/LogIn.jsx
  frontend/src/Components/Icons/LogOut.jsx
  frontend/src/Components/Icons/Minus.jsx
  frontend/src/Components/Icons/Order.jsx
  frontend/src/Components/Icons/Plus.jsx
  frontend/src/Components/Icons/Point.jsx
  frontend/src/Components/Icons/Registration.jsx
  frontend/src/Components/Icons/RightArrow.jsx
  frontend/src/Components/Icons/Search.jsx
  frontend/src/Components/Icons/UpArrow.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(44): header link
  frontend/src/Components/RouteComp/Accessories/Accessories.jsx
  frontend/src/Components/RouteComp/Accessories/Accessories.module.scss
  frontend/src/Components/RouteComp/Favorites/Favorites.jsx
  frontend/src/Components/RouteComp/Favorites/Favorites.module.scss
  frontend/src/Components/RouteComp/LogIn/Login.jsx
  frontend/src/Components/RouteComp/LogIn/Login.module.scss
  frontend/src/Components/RouteComp/LogOut/Logout.jsx
  frontend/src/Components/RouteComp/LogOut/Logout.module.scss
  frontend/src/Components/RouteComp/Order/Order.jsx
  frontend/src/Components/RouteComp/Order/Order.module.scss
  frontend/src/Components/RouteComp/Phones/Phones.jsx
  frontend/src/Components/RouteComp/Phones/Phones.module.scss
  frontend/src/Components/RouteComp/Registration/Registration.jsx
  frontend/src/Components/RouteComp/Registration/Registration.module.scss
  frontend/src/Components/RouteComp/ShopppingCart/ShoppingCart.jsx
  frontend/src/Components/RouteComp/ShopppingCart/ShoppingCart.module.scss
  frontend/src/Components/RouteComp/Tablets/Tablets.jsx
  frontend/src/Components/RouteComp/Tablets/Tablets.module.scss
  frontend/src/Composition/Footer/Footer.jsx
  frontend/src/Composition/Footer/Footer.module.scss
  frontend/src/Composition/Header/Header.jsx
  frontend/src/Composition/Header/Header.module.scss
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

testing
  backend/controllers/mobileModel.js
  backend/controllers/mobileModelAmount.js
  backend/controllers/mobileProduct.js
  backend/controllers/test.js
  backend/models/MobileModel.js
  backend/models/MobileModelAmount.js
  backend/models/MobileProduct.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat(45) MainPage
  frontend/public/MocPic/accessories.png
  frontend/public/MocPic/iphone1.png
  frontend/public/MocPic/iphone2.png
  frontend/public/MocPic/iphone3.png
  frontend/public/MocPic/iphone4.png
  frontend/public/MocPic/tablet.png
  frontend/src/Components/Button/Button.jsx
  frontend/src/Components/Button/Button.module.scss
  frontend/src/Components/Button/__snapshots__/Button.test.js.snap
  frontend/src/Components/Card/Card.module.scss
  frontend/src/Components/CardList/CardList.jsx
  frontend/src/Components/Carousel/Carousel.jsx
  frontend/src/Components/Carousel/Carousel.module.scss
  frontend/src/Components/Favorite/Favorite.jsx
  frontend/src/Components/Favorite/Favorite.module.scss
  frontend/src/Components/Icons/Heart.jsx
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/HomePage/HomePage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(db): testing BD schemas
  backend/controllers/mobileModels.js
  backend/controllers/mobileModelsAmount.js
  backend/controllers/mobileProducts.js
  backend/models/MobileModel.js
  backend/models/MobileModelAmount.js
  backend/models/MobileProduct.js
  backend/routes/mobileModels.js
  backend/routes/mobileModelsAmount.js
  backend/routes/mobileProducts.js
  backend/server.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

Path conditions:
  backend-build: any of: **/*
  frontend-build: any of: **/*
  frontend-sentry: any of: frontend/**/*
  backend-test: any of: **/*
  frontend-test: any of: **/*
  backend-sonar: any of: **/*
  frontend-sonar: any of: **/*
  deploy-to-cloud-run: any of: backend/**/*
  deploy-to-firebase: any of: frontend/**/*
