Repository OttoMarcus/NiceGadget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

backend-build:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: build
  needs: []
  script:
  - echo "Compiling the backend code..."

frontend-build:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: build
  needs: []
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm run build
  artifacts:
    when: on_success
    paths:
    - frontend/build/

frontend-sentry:
  stage: build
  needs:
  - frontend-build
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm run sentry:sourcemaps

backend-test:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: test
  needs:
  - backend-build
  script:
  - echo "Testing the backend code..."

frontend-test:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: test
  needs:
  - frontend-build
  image: node:latest
  before_script:
  - cd frontend/
  - npm install
  script:
  - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
    - frontend/coverage/
    - frontend/junit.xml
    when: always
  ...

backend-sonar:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: sonar
  needs:
  - backend-test
  script:
  - echo "Deploying the backend code..."

frontend-sonar:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: sonar
  needs:
  - frontend-test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner

deploy-to-cloud-run:
  stage: deploy
  needs:
  - backend-test
  image: registry.gitlab.com/gitlab-org/incubation-engineering/five-minute-production/library/google-cloud-sdk-for-gitlab:main
  script:
  - cp -r ./utils/* .
  - chmod +x cloud-run.sh
  - ./cloud-run.sh
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $DYNAMIC_URL
  ...

deploy-to-firebase:
  stage: deploy
  needs:
  - frontend-test
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm i -g firebase-tools
  - cat "$FIREBASE_JSON" > ./firebase.json
  - cat "$FIREBASE_RC" > ./.firebaserc
  - firebase deploy --only hosting --token $FIREBASE_TOKEN

feat(95): BrandNew and HotPrices
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/CardList/CardList.jsx
  frontend/src/Components/CardList/CardList.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(13): add redirects for CartButton and Back button on Cart Page
  backend/controllers/cart.js
  frontend/src/App.js
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/CartButton/CartButton.jsx
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/AccessoriesPage/AccessoriesPage.jsx
  frontend/src/pages/CartPage/CartPage.jsx
  frontend/src/pages/CartPage/CartPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(53): add errors catching, fix reg flow, remove unnecessary requests, add...
  frontend/src/Components/Button/Button.jsx
  frontend/src/Components/Button/Button.module.scss
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.module.scss
  frontend/src/Components/Forms/CustomInput.js
  frontend/src/Components/Forms/CustomInput.module.scss
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.module.scss
  frontend/src/Components/Icons/HidePassword.jsx
  frontend/src/Components/Icons/ShowPassword.jsx
  frontend/src/pages/LogIn/Login.jsx
  frontend/src/pages/LogIn/Login.module.scss
  frontend/src/pages/Registration/Registration.jsx
  frontend/src/pages/Registration/Registration.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(80): add userProfile & updatePassFunc(backend)
  backend/controllers/customers.js
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/Components/Profile/ButtonProfile/ButtonProfile.jsx
  frontend/src/Components/Profile/ButtonProfile/ButtonProfile.module.scss
  frontend/src/Components/Profile/CustomInput/Input.js
  frontend/src/Components/Profile/CustomInput/Input.module.scss
  frontend/src/Components/Profile/InputWithStrength/InputWithStrength.js
  frontend/src/Components/Profile/InputWithStrength/InputWithStrength.module.scss
  frontend/src/Components/Profile/InputWithStrength/imgPassword/hide-pass.svg
  frontend/src/Components/Profile/InputWithStrength/imgPassword/show-pass.svg
  frontend/src/Components/Profile/ProfileDropDownText/ProfileDropDownText.jsx
  frontend/src/Components/Profile/ProfileDropDownText/ProfileDropDownText.module.scss
  frontend/src/helpers/sendRequest.js
  frontend/src/pages/User/User.jsx
  frontend/src/pages/User/User.module.scss
  frontend/src/pages/User/UserImg/change-password-icon.svg
  frontend/src/pages/User/UserImg/profile-user.svg
  frontend/src/pages/User/UserOrderHistory/UserOrderHistory.jsx
  frontend/src/pages/User/UserOrderHistory/UserOrderHistory.module.scss
  frontend/src/pages/User/UserUpdatePass/UserUpdatePass.jsx
  frontend/src/pages/User/UserUpdatePass/UserUpdatePass.module.scss
  frontend/src/pages/User/UserUpdatePersonalData/UserUpdatePersonalData.jsx
  frontend/src/pages/User/UserUpdatePersonalData/UserUpdatePersonalData.module.scss
  frontend/src/routers/RootRouters.jsx
  frontend/src/styles/abstracts/_mixins.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(51): add sort select and perPage select styles
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Icons/SelectDropDown.jsx
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/Components/PerPageSelect/PerPageSelect.module.scss
  frontend/src/Components/Sort/Sort.jsx
  frontend/src/Components/Sort/Sort.module.scss
  frontend/src/pages/Phones/Phones.jsx
  frontend/src/pages/Phones/Phones.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(13): fix for CardAccessories location
  frontend/src/Components/CardAccessories/CardAccessories.jsx
  frontend/src/Components/CardAccessories/CardAccessories.module.scss
  frontend/src/pages/AccessoriesPage/AccessoriesPage.jsx
  frontend/src/pages/Favorites/Favorites.jsx
  frontend/src/pages/Search/Search.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

change schema but have problem with Postman
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  backend/routes/wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat(87): favor back
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

back probably without problem
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  backend/routes/wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

have problem with many elem
  backend/controllers/wishlist.js
  frontend/src/API/favorietesAPI.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/pages/Favorites/Favorites.jsx
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

couple problem with reload info
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

back probably without problem
  backend/controllers/wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

change schema but have problem with Postman
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

back probably without problem
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat(87): favor back
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  frontend/src/API/favorietesAPI.js
  frontend/src/store/favorites/favoriteSlice.js
  frontend/src/store/user/userSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): favor back
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  frontend/src/API/favorietesAPI.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

have problem with many elem
  backend/controllers/wishlist.js
  frontend/src/API/favorietesAPI.js
  frontend/src/Components/Card/Card.jsx
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): favor back new
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back new
  backend/controllers/wishlist.js
  backend/routes/wishlist.js
  frontend/src/App.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): favor back synchroniz
  backend/controllers/wishlist.js
  backend/routes/wishlist.js
  frontend/src/App.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): favor back synchroniz
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  frontend/src/App.js
  frontend/src/Composition/Header/Header.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  frontend/src/App.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(51): refactor requests, change backend request on sort
  backend/controllers/mobileProducts.js
  frontend/src/Components/Pagination/Pagination.jsx
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): favor back
  frontend/src/App.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  frontend/src/App.js
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

style(13): update styles for cart elements, add cartItems counter to Header
  backend/controllers/cart.js
  frontend/src/Components/Cart/Cart.jsx
  frontend/src/Components/Cart/Cart.module.scss
  frontend/src/Components/CartItem/CartItem.jsx
  frontend/src/Components/CartItem/CartItem.module.scss
  frontend/src/Components/Icons/CounterIcon.jsx
  frontend/src/Composition/Header/Header.jsx
  frontend/src/Composition/Header/Header.module.scss
  frontend/src/store/cart/cartSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

Path conditions:
  backend-build: any of: **/*
  frontend-build: any of: **/*
  frontend-sentry: any of: frontend/**/*
  backend-test: any of: **/*
  frontend-test: any of: **/*
  backend-sonar: any of: **/*
  frontend-sonar: any of: **/*
  deploy-to-cloud-run: any of: backend/**/*
  deploy-to-firebase: any of: frontend/**/*
