Repository OttoMarcus/NiceGadget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

.gitlab-ci.yml:

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  RULES_CHANGES_PATH: "**/*"
stages:
  - build
  - test
  - sonar
  - deploy

.base-rules:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - $RULES_CHANGES_PATH
    - when: manual
      allow_failure: true

.backend:
  extends: .base-rules
  variables:
    RULES_CHANGES_PATH: "backend/**/*"

.frontend:
  extends: .base-rules
  variables:
    RULES_CHANGES_PATH: "frontend/**/*"

backend-build:
  stage: build
  extends: .backend
  needs: []
  script:
    - echo "Compiling the backend code..."

frontend-build:
  stage: build
  extends: .frontend
  needs: []
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm run build
  artifacts:
    when: on_success
    paths:
      - frontend/build/

frontend-sentry:
  stage: build
  needs: ["frontend-build"]
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm run sentry:sourcemaps
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "frontend/**/*"

backend-test:
  stage: test
  extends: .backend
  needs: ["backend-build"]
  script:
    - echo "Testing the backend code..."

frontend-test:
  stage: test
  extends: .frontend
  needs: ["frontend-build"]
  image: node:latest
  before_script:
    - cd frontend/
    - npm install
  script:
    - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
      - frontend/coverage/
      - frontend/junit.xml
    when: always
    reports:
      junit:
        - frontend/junit.xml

backend-sonar:
  stage: sonar
  extends: .backend
  needs: ["backend-test"]
  script:
    - echo "Deploying the backend code..."

frontend-sonar:
  stage: sonar
  extends: .frontend
  needs: ["frontend-test"]
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner

deploy-to-cloud-run:
  stage: deploy
  needs: ["backend-test"]
  image: registry.gitlab.com/gitlab-org/incubation-engineering/five-minute-production/library/google-cloud-sdk-for-gitlab:main
  script:
    - cp -r ./utils/* .
    - chmod +x cloud-run.sh
    - ./cloud-run.sh
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $DYNAMIC_URL
  artifacts:
    reports:
      dotenv: deploy.env
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "backend/**/*"

deploy-to-firebase:
  stage: deploy
  needs: ["frontend-test"]
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm i -g firebase-tools
    - cat "$FIREBASE_JSON" > ./firebase.json
    - cat "$FIREBASE_RC" > ./.firebaserc
    - firebase deploy --only hosting --token $FIREBASE_TOKEN
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "frontend/**/*"

chore(38): clean up app
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/__snapshots__/App.test.js.snap
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

43-Header, Footer routers
  frontend/public/MocPic/accessories.png
  frontend/public/MocPic/iphone1.png
  frontend/public/MocPic/iphone2.png
  frontend/public/MocPic/iphone3.png
  frontend/public/MocPic/iphone4.png
  frontend/public/MocPic/tablet.png
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/Composition/Footer/Footer.jsx
  frontend/src/Composition/Footer/Footer.module.scss
  frontend/src/Composition/Header/Header.jsx
  frontend/src/Composition/Header/Header.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(45) MainPage
  frontend/public/MocPic/accessories.png
  frontend/public/MocPic/iphone1.png
  frontend/public/MocPic/iphone2.png
  frontend/public/MocPic/iphone3.png
  frontend/public/MocPic/iphone4.png
  frontend/public/MocPic/tablet.png
  frontend/src/Components/Button/Button.jsx
  frontend/src/Components/Button/Button.module.scss
  frontend/src/Components/Button/__snapshots__/Button.test.js.snap
  frontend/src/Components/Card/Card.module.scss
  frontend/src/Components/CardList/CardList.jsx
  frontend/src/Components/Carousel/Carousel.jsx
  frontend/src/Components/Carousel/Carousel.module.scss
  frontend/src/Components/Favorite/Favorite.jsx
  frontend/src/Components/Favorite/Favorite.module.scss
  frontend/src/Components/Icons/Heart.jsx
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/HomePage/HomePage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(12) Icons SVG as components
  frontend/src/Components/Icons/Burger.jsx
  frontend/src/Components/Icons/Cart.jsx
  frontend/src/Components/Icons/Close.jsx
  frontend/src/Components/Icons/Cursor.jsx
  frontend/src/Components/Icons/DownArrow.jsx
  frontend/src/Components/Icons/Favorite.jsx
  frontend/src/Components/Icons/Home.jsx
  frontend/src/Components/Icons/LeftArrow.jsx
  frontend/src/Components/Icons/LogIn.jsx
  frontend/src/Components/Icons/LogOut.jsx
  frontend/src/Components/Icons/Minus.jsx
  frontend/src/Components/Icons/Order.jsx
  frontend/src/Components/Icons/Plus.jsx
  frontend/src/Components/Icons/Point.jsx
  frontend/src/Components/Icons/Registration.jsx
  frontend/src/Components/Icons/RightArrow.jsx
  frontend/src/Components/Icons/Search.jsx
  frontend/src/Components/Icons/UpArrow.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(44): header link
  frontend/src/Components/RouteComp/Accessories/Accessories.jsx
  frontend/src/Components/RouteComp/Accessories/Accessories.module.scss
  frontend/src/Components/RouteComp/Favorites/Favorites.jsx
  frontend/src/Components/RouteComp/Favorites/Favorites.module.scss
  frontend/src/Components/RouteComp/LogIn/Login.jsx
  frontend/src/Components/RouteComp/LogIn/Login.module.scss
  frontend/src/Components/RouteComp/LogOut/Logout.jsx
  frontend/src/Components/RouteComp/LogOut/Logout.module.scss
  frontend/src/Components/RouteComp/Order/Order.jsx
  frontend/src/Components/RouteComp/Order/Order.module.scss
  frontend/src/Components/RouteComp/Phones/Phones.jsx
  frontend/src/Components/RouteComp/Phones/Phones.module.scss
  frontend/src/Components/RouteComp/Registration/Registration.jsx
  frontend/src/Components/RouteComp/Registration/Registration.module.scss
  frontend/src/Components/RouteComp/ShopppingCart/ShoppingCart.jsx
  frontend/src/Components/RouteComp/ShopppingCart/ShoppingCart.module.scss
  frontend/src/Components/RouteComp/Tablets/Tablets.jsx
  frontend/src/Components/RouteComp/Tablets/Tablets.module.scss
  frontend/src/Composition/Footer/Footer.jsx
  frontend/src/Composition/Footer/Footer.module.scss
  frontend/src/Composition/Header/Header.jsx
  frontend/src/Composition/Header/Header.module.scss
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(db): testing BD schemas
  backend/models/Mobile.js
  backend/models/MobileModel.js
  backend/models/MobileModelAmount.js
  backend/models/MobileProduct.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

fix(db): name
  backend/controllers/mobileProducts.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

fix(db): name conflicts
  backend/controllers/mobileModels.js
  backend/controllers/mobileModelsAmount.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

fix(db): name conflicts
  backend/controllers/qwe.json
  backend/models/MobileModelAmount.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat(db): add cors
  backend/package-lock.json
  backend/package.json
  backend/server.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

style(47): add custom fonts
  .vscode/settings.json
  frontend/src/styles/fonts/Mont-Bold.woff
  frontend/src/styles/fonts/Mont-Bold.woff2
  frontend/src/styles/fonts/Mont-Regular.woff
  frontend/src/styles/fonts/Mont-Regular.woff2
  frontend/src/styles/fonts/Mont-SemiBold.woff
  frontend/src/styles/fonts/Mont-SemiBold.woff2
  frontend/src/styles/global/_base.scss
  frontend/src/styles/global/_fonts.scss
  package.json
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(db): testing FRONT
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/RouteComp/Phones/Phones.jsx
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/HomePage/HomePage.jsx
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(22): route in single product
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.jsx
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.module.scss
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

Changes by user
  frontend/src/Components/Card/Card.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix: remove .vscode
  .gitignore
  .vscode/settings.json
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

feat(46): add error-page
  frontend/src/pages/WrongRoutePage/WrongRoute.jsx
  frontend/src/pages/WrongRoutePage/WrongRoutePage.module.scss
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(db): testing useEffect
  backend/controllers/mobileModels.js
  backend/server.js
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/RouteComp/Phones/Phones.jsx
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(db): add pictures render
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.jsx
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(db): check URL change and component rerender
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/ColorCircle/ColorCircle.jsx
  frontend/src/Components/ColorCircle/ColorCircle.module.scss
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.jsx
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(db): add dynamic typeModel
  backend/server.js
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(db): add useMemo also for color
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(db): add useMemo for ByColor
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(db): add component SelectableImageGallery.jsx
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.jsx
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.jsx
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(db): add right image representation
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.jsx
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(db): add right image representation
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(db): add right image representation + price representation testing
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.jsx
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.module.scss
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.jsx
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(db): restrict img selection
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.module.scss
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(db): highlight colors of ColorCircle.module.scss
  frontend/src/Components/ColorCircle/ColorCircle.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(db): add discount price representation
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.jsx
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

style(48): optimize mixins and variables
  frontend/src/Components/Button/Button.module.scss
  frontend/src/Components/Card/Card.module.scss
  frontend/src/Components/CardList/CardList.module.scss
  frontend/src/Components/Carousel/Carousel.module.scss
  frontend/src/Components/Favorite/Favorite.module.scss
  frontend/src/Components/ShopByCategory/ShopByCategory.module.scss
  frontend/src/Composition/Header/Header.module.scss
  frontend/src/pages/HomePage/HomePage.module.scss
  frontend/src/styles/abstracts/_mixins.scss
  frontend/src/styles/abstracts/_variables.scss
  frontend/src/styles/global/_base.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(db): change productId to modelId
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(db): change productId to modelId
  frontend/src/Components/RouteComp/SingleProduct/SingleProduct.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

56-fix-HomePage-adaptive
  frontend/public/MocPic/carousel-tab.png
  frontend/public/MocPic/carousel.png
  frontend/src/Components/Carousel/Carousel.module.scss
  frontend/src/Components/Carousel/img/carousel-tab.png
  frontend/src/Components/Carousel/img/carousel.png
  frontend/src/Components/ShopByCategory/ShopByCategory.module.scss
  frontend/src/Composition/Footer/Footer.module.scss
  frontend/src/pages/HomePage/HomePage.jsx
  frontend/src/styles/abstracts/_mixins.scss
  frontend/src/styles/global/_base.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(55): add MobileModel, MobileProduct and MobileModelQuantity
  backend/controllers/mobileModels.js
  backend/controllers/mobileModelsQuantity.js
  backend/controllers/mobileProducts.js
  backend/models/MobileModel.js
  backend/models/MobileModelQuantity.js
  backend/models/MobileProduct.js
  backend/package-lock.json
  backend/package.json
  backend/routes/mobileModels.js
  backend/routes/mobileModelsQuantity.js
  backend/routes/mobileProducts.js
  backend/server.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat(14): add SelectableImageGallery component
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.jsx
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(57): change props
  frontend/src/Components/Card/Card.jsx
  frontend/src/pages/HomePage/HomePage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(57): change routes to get to phones page
  frontend/src/Composition/Header/Header.jsx
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(57): add simple temporary phones page logic
  frontend/src/Components/RouteComp/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(57): add available prop to Card component
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/RouteComp/Phones/Phones.jsx
  frontend/src/pages/HomePage/HomePage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase
