Repository OttoMarcus/NiceGadget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

backend-build:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: build
  needs: []
  script:
  - echo "Compiling the backend code..."

frontend-build:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: build
  needs: []
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm run build
  artifacts:
    when: on_success
    paths:
    - frontend/build/

frontend-sentry:
  stage: build
  needs:
  - frontend-build
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm run sentry:sourcemaps

backend-test:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: test
  needs:
  - backend-build
  script:
  - echo "Testing the backend code..."

frontend-test:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: test
  needs:
  - frontend-build
  image: node:latest
  before_script:
  - cd frontend/
  - npm install
  script:
  - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
    - frontend/coverage/
    - frontend/junit.xml
    when: always
  ...

backend-sonar:
  variables:
    RULES_CHANGES_PATH: backend/**/*
  stage: sonar
  needs:
  - backend-test
  script:
  - echo "Deploying the backend code..."

frontend-sonar:
  variables:
    RULES_CHANGES_PATH: frontend/**/*
  stage: sonar
  needs:
  - frontend-test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner

deploy-to-cloud-run:
  stage: deploy
  needs:
  - backend-test
  image: registry.gitlab.com/gitlab-org/incubation-engineering/five-minute-production/library/google-cloud-sdk-for-gitlab:main
  script:
  - cp -r ./utils/* .
  - chmod +x cloud-run.sh
  - ./cloud-run.sh
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $DYNAMIC_URL
  ...

deploy-to-firebase:
  stage: deploy
  needs:
  - frontend-test
  image: node:latest
  script:
  - cd frontend/
  - npm install
  - npm i -g firebase-tools
  - cat "$FIREBASE_JSON" > ./firebase.json
  - cat "$FIREBASE_RC" > ./.firebaserc
  - firebase deploy --only hosting --token $FIREBASE_TOKEN

Clean up navigation
  frontend/src/Components/Icons/Favorite.jsx
  frontend/src/Components/Icons/LogIn.jsx
  frontend/src/Components/Icons/User.jsx
  frontend/src/Composition/Header/Header.jsx
  frontend/src/Composition/Header/Header.module.scss
  frontend/src/pages/User/User.jsx
  frontend/src/pages/User/User.module.scss
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

79-Fit-navigation
  frontend/src/Components/ShopByCategory/ShopByCategory.jsx
  frontend/src/Composition/Header/Header.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

Add non-styled Reg Form & validation
  Moments.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Forms/CustomInput.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Components/Forms/UserRegFrom/validationSchema.js
  frontend/src/Components/RouteComp/Registration/Registration.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(81): fix favorietes page
  frontend/src/Components/RouteComp/Favorites/Favorites.jsx
  frontend/src/pages/Favorites/Favorites.jsx
  frontend/src/pages/Favorites/Favorites.module.scss
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.jsx
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

add reg and login form logic
  Moments.md
  frontend/src/App.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.module.scss
  frontend/src/Components/Forms/AuthorizationForm/validationSchema.js
  frontend/src/Components/Forms/CustomInput.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.module.scss
  frontend/src/Components/Forms/UserRegFrom/validationSchema.js
  frontend/src/Components/Icons/LogOut.jsx
  frontend/src/Components/RouteComp/Registration/Registration.jsx
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/LogIn/Login.jsx
  frontend/src/pages/LogIn/Login.module.scss
  frontend/src/pages/Registration/Registration.jsx
  frontend/src/pages/Registration/Registration.module.scss
  frontend/src/routers/RootRouters.jsx
  frontend/src/store/store.js
  frontend/src/store/user/userSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix after rebase
  frontend/src/App.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Composition/Header/Header.jsx
  frontend/src/routers/RootRouters.jsx
  frontend/src/store/user/userSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(78): add mail sender on registration
  backend/commonHelpers/mailSender.js
  backend/controllers/customers.js
  backend/emailGenerators/welcomeEmailGenerator.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

Add non-styled Reg Form & validation
  Moments.md
  frontend/src/Components/RouteComp/Registration/Registration.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

add reg and login form logic
  Moments.md
  frontend/src/Components/RouteComp/Registration/Registration.jsx
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix after rebase
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Composition/Header/Header.jsx
  frontend/src/store/user/userSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix according to eslint requirments
  frontend/src/Components/Forms/AuthorizationForm/validationSchema.js
  frontend/src/Composition/Header/Header.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

add fix according to eslint requirments
  frontend/src/Components/Forms/AuthorizationForm/validationSchema.js
  frontend/src/Components/Forms/UserRegFrom/validationSchema.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

add fix according to eslint requirments
  frontend/src/App.js
  package-lock.json
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

add fix according to eslint requirments
  frontend/src/App.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

Revert "add fix according to eslint requirments"
  frontend/src/App.js
  package-lock.json
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

remove unnecessary files
  Moments.md
  package-lock.json
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

add minor fix
  frontend/src/Components/Forms/CustomInput.js
  frontend/src/Components/Icons/LogOut.jsx
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

build(7): add lighthouse
  .gitignore
  .gitlab-ci.yml
  README.md
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

chore(82): improve readability of SingleProductPage
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Capacities/Capacities.jsx
  frontend/src/Components/Capacities/Capacities.module.scss
  frontend/src/Components/ColorCircle/ColorCircle.jsx
  frontend/src/Components/ColorCircle/ColorCircle.module.scss
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SIngleProductPage/hooks/useFetchModelData.jsx
  frontend/src/pages/SIngleProductPage/hooks/useSelectedColorData.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

(68) - Search field
  frontend/src/Components/Icons/SearchLogo.jsx
  frontend/src/Components/SearchForm/SearchForm.jsx
  frontend/src/Components/SearchForm/SearchForm.module.scss
  frontend/src/Composition/Header/Header.jsx
  frontend/src/Composition/Header/Header.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(53): add authentication
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.module.scss
  frontend/src/Components/Forms/AuthorizationForm/validationSchema.js
  frontend/src/Components/Forms/CustomInput.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.module.scss
  frontend/src/Components/Forms/UserRegFrom/validationSchema.js
  frontend/src/Components/RouteComp/Registration/Registration.jsx
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/LogIn/Login.jsx
  frontend/src/pages/LogIn/Login.module.scss
  frontend/src/pages/Registration/Registration.jsx
  frontend/src/pages/Registration/Registration.module.scss
  frontend/src/routers/RootRouters.jsx
  frontend/src/store/store.js
  frontend/src/store/user/userSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

(68) - Search field
  frontend/src/Components/SearchForm/SearchForm.jsx
  frontend/src/pages/Search/Search.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

79- cleanUp navigation
  frontend/package-lock.json
  frontend/src/Components/SearchForm/SearchForm.module.scss
  frontend/src/pages/Search/Search.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(86): Slider-backend
  backend/controllers/advertisingSlider.js
  backend/models/AdvertisingSlider.js
  backend/routes/advertisingSlider.js
  backend/server.js
  frontend/src/Components/AdvertisingSlider/AdvertisingSlider.jsx
  frontend/src/Components/AdvertisingSlider/AdvertisingSlider.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

add sorting url changes
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Filter/Filter.module.scss
  frontend/src/pages/Phones/Phones.jsx
  frontend/src/pages/Phones/Phones.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

backend test changes for sorting
  backend/commonHelpers/filterParser.js
  backend/controllers/mobileProducts.js
  frontend/src/Components/Filter/Filter.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(88): advSlider Logic\UI\Adaptive
  frontend/src/Components/AdvertisingSlider/AdvertisingSlider.jsx
  frontend/src/Components/AdvertisingSlider/AdvertisingSlider.module.scss
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/AdvertisingSlider/Slider.module.scss
  frontend/src/Components/Icons/LeftArrow.jsx
  frontend/src/Components/Icons/RightArrow.jsx
  frontend/src/pages/HomePage/HomePage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(89): add actual totals by categories
  backend/controllers/accessoriesProduct.js
  backend/controllers/mobileProducts.js
  backend/controllers/tabletProducts.js
  backend/routes/accessoriesProduct.js
  backend/routes/mobileProducts.js
  backend/routes/tabletProducts.js
  frontend/src/Components/ShopByCategory/ShopByCategory.jsx
  frontend/src/Components/ShopByCategory/ShopByCategory.module.scss
  frontend/src/pages/HomePage/HomePage.jsx
  frontend/src/pages/HomePage/hooks/useFetchTotalsOfCategories.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(13): add cart actions for an authorized user
  backend/controllers/accessoriesProduct.js
  backend/controllers/cart.js
  backend/controllers/mobileProducts.js
  backend/controllers/tabletProducts.js
  backend/models/Cart.js
  backend/routes/accessoriesProduct.js
  backend/routes/cart.js
  backend/routes/mobileProducts.js
  backend/routes/tabletProducts.js
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/src/API/cartAPI.js
  frontend/src/App.js
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/CardAccessories/CardAccessories.jsx
  frontend/src/Components/Cart/Cart.jsx
  frontend/src/Components/CartItem/CartItem.jsx
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/pages/AccessoriesPage/AccessoriesPage.jsx
  frontend/src/pages/CartPage/CartPage.jsx
  frontend/src/pages/Favorites/Favorites.jsx
  frontend/src/pages/Phones/Phones.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.jsx
  frontend/src/pages/Tablets/Tablets.jsx
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  frontend/src/store/cart/cartSlice.js
  report.html
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

79- cleanUp navigation
  frontend/src/Components/SearchForm/SearchForm.module.scss
  frontend/src/pages/Search/Search.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

(68) - Grid layout phones&tablets
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/Card/Card.module.scss
  frontend/src/helpers/backConnectionString.js
  frontend/src/pages/Phones/Phones.jsx
  frontend/src/pages/Phones/Phones.module.scss
  frontend/src/pages/Search/Search.jsx
  frontend/src/pages/Search/Search.module.scss
  frontend/src/pages/Tablets/Tablets.jsx
  frontend/src/pages/Tablets/Tablets.module.scss
  frontend/src/styles/global/_base.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

(68) - Grid layout phones&tablets
  frontend/src/Components/Card/Card.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

Path conditions:
  backend-build: any of: **/*
  frontend-build: any of: **/*
  frontend-sentry: any of: frontend/**/*
  backend-test: any of: **/*
  frontend-test: any of: **/*
  backend-sonar: any of: **/*
  frontend-sonar: any of: **/*
  deploy-to-cloud-run: any of: backend/**/*
  deploy-to-firebase: any of: frontend/**/*
