Repository OttoMarcus/NiceGadget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

.gitlab-ci.yml:

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  RULES_CHANGES_PATH: "**/*"
stages:
  - build
  - test
  - sonar
  - deploy

.base-rules:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - $RULES_CHANGES_PATH
    - when: manual
      allow_failure: true

.backend:
  extends: .base-rules
  variables:
    RULES_CHANGES_PATH: "backend/**/*"

.frontend:
  extends: .base-rules
  variables:
    RULES_CHANGES_PATH: "frontend/**/*"

backend-build:
  stage: build
  extends: .backend
  needs: []
  script:
    - echo "Compiling the backend code..."

frontend-build:
  stage: build
  extends: .frontend
  needs: []
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm run build
  artifacts:
    when: on_success
    paths:
      - frontend/build/

frontend-sentry:
  stage: build
  needs: ["frontend-build"]
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm run sentry:sourcemaps
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "frontend/**/*"

backend-test:
  stage: test
  extends: .backend
  needs: ["backend-build"]
  script:
    - echo "Testing the backend code..."

frontend-test:
  stage: test
  extends: .frontend
  needs: ["frontend-build"]
  image: node:latest
  before_script:
    - cd frontend/
    - npm install
  script:
    - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
      - frontend/coverage/
      - frontend/junit.xml
    when: always
    reports:
      junit:
        - frontend/junit.xml

backend-sonar:
  stage: sonar
  extends: .backend
  needs: ["backend-test"]
  script:
    - echo "Deploying the backend code..."

frontend-sonar:
  stage: sonar
  extends: .frontend
  needs: ["frontend-test"]
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner

deploy-to-cloud-run:
  stage: deploy
  needs: ["backend-test"]
  image: registry.gitlab.com/gitlab-org/incubation-engineering/five-minute-production/library/google-cloud-sdk-for-gitlab:main
  script:
    - cp -r ./utils/* .
    - chmod +x cloud-run.sh
    - ./cloud-run.sh
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $DYNAMIC_URL
  artifacts:
    reports:
      dotenv: deploy.env
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "backend/**/*"

deploy-to-firebase:
  stage: deploy
  needs: ["frontend-test"]
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm i -g firebase-tools
    - cat "$FIREBASE_JSON" > ./firebase.json
    - cat "$FIREBASE_RC" > ./.firebaserc
    - firebase deploy --only hosting --token $FIREBASE_TOKEN
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "frontend/**/*"

feat(87): favor back synchroniz
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  frontend/src/App.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

change schema but have problem with Postman
  backend/models/Wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

back probably without problem
  backend/models/Wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

have problem with many elem
  frontend/src/API/favorietesAPI.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

couple problem with reload info
  backend/models/Wishlist.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat(87): favor back
  backend/models/Wishlist.js
  frontend/src/API/favorietesAPI.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

have problem with many elem
  frontend/src/Components/Card/Card.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  frontend/src/Components/Card/Card.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): favor back
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(84): favorietes with back
  backend/controllers/wishlist.js
  backend/models/Wishlist.js
  backend/routes/wishlist.js
  frontend/src/API/favorietesAPI.js
  frontend/src/App.js
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/Favorites/Favorites.jsx
  frontend/src/store/favorites/favoriteSlice.js
  frontend/src/store/user/userSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(87): fix after marge
  frontend/src/App.js
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): fix after favor marge
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(50): add pagination
  backend/controllers/mobileProducts.js
  frontend/src/Components/Pagination/Pagination.jsx
  frontend/src/Components/Pagination/Pagination.module.scss
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

fix(13): fix cart counter updating
  frontend/src/App.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(50): staged changes on pagination
  frontend/src/Components/Pagination/Pagination.jsx
  frontend/src/Components/Pagination/Pagination.module.scss
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/Components/Sort/Sort.jsx
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(99): minor fixes for checkout
  frontend/src/Components/Button/Button.module.scss
  frontend/src/Components/BuyForm/BuyForm.jsx
  frontend/src/Components/Cart/Cart.jsx
  frontend/src/Components/Cart/Cart.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix button style
  frontend/src/Components/Button/Button.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(87): Favor quantity
  frontend/src/Composition/Header/Header.jsx
  frontend/src/Composition/Header/Header.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(50): pagination redone with react-pagination
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Pagination/Pagination.jsx
  frontend/src/Components/Pagination/Pagination.module.scss
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/Components/Sort/Sort.jsx
  frontend/src/pages/Phones/Phones.jsx
  frontend/src/pages/Phones/Phones.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(98): editing data profile, styling user profile
  backend/controllers/customers.js
  frontend/src/Components/Icons/CheckMarkIcon.jsx
  frontend/src/Components/Icons/CloseIcon.jsx
  frontend/src/Components/Icons/CrossErrorIcon.jsx
  frontend/src/Components/Icons/HidePasswordIcon.jsx
  frontend/src/Components/Icons/ShowPasswordIcon.jsx
  frontend/src/Components/Icons/UpdatePassIcon.jsx
  frontend/src/Components/Icons/UserInfoIcon.jsx
  frontend/src/Components/Icons/UserProfileIcon.jsx
  frontend/src/Components/Profile/CustomInput/Input.js
  frontend/src/Components/Profile/CustomInput/Input.module.scss
  frontend/src/Components/Profile/InputWithStrength/InputWithStrength.js
  frontend/src/Components/Profile/InputWithStrength/InputWithStrength.module.scss
  frontend/src/Components/Profile/ModalStatusInfo/ModalStatusInfo.jsx
  frontend/src/Components/Profile/ModalStatusInfo/ModalStatusInfo.module.scss
  frontend/src/Components/Profile/ProfileDropDownText/ProfileDropDownText.jsx
  frontend/src/Components/Profile/ProfileDropDownText/ProfileDropDownText.module.scss
  frontend/src/pages/User/User.jsx
  frontend/src/pages/User/User.module.scss
  frontend/src/pages/User/UserDataInformation/UserDataInformation.jsx
  frontend/src/pages/User/UserDataInformation/UserDataInformation.module.scss
  frontend/src/pages/User/UserImg/change-password-icon.svg
  frontend/src/pages/User/UserImg/profile-user.svg
  frontend/src/pages/User/UserOrderHistory/UserOrderHistory.jsx
  frontend/src/pages/User/UserOrderHistory/UserOrderHistory.module.scss
  frontend/src/pages/User/UserUpdatePass/UserUpdatePass.jsx
  frontend/src/pages/User/UserUpdatePass/validationSchema.js
  frontend/src/pages/User/UserUpdatePersonalData/UserUpdatePersonalData.jsx
  frontend/src/pages/User/UserUpdatePersonalData/UserUpdatePersonalData.module.scss
  frontend/src/routers/RootRouters.jsx
  frontend/src/store/user/userSlice.js
  frontend/src/styles/abstracts/_variables.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

fix(): fix prevPath set
  frontend/src/App.js
  frontend/src/Components/Cart/hooks/useHandleAddToCart.js
  frontend/src/Components/CartButton/CartButton.jsx
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/Composition/Header/Header.jsx
  frontend/src/pages/CartPage/CartPage.jsx
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix: remove first request on user while unauthorized
  frontend/src/App.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(51): update from develop branch
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/Components/Sort/Sort.jsx
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(50, 51): add fix to match eslint requirments
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/Components/Sort/Sort.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(50, 51): add fix to match eslint requirments
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(50, 51): add fix to match eslint requirments
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

Resolve "Sorting"
  backend/commonHelpers/filterParser.js
  backend/controllers/mobileProducts.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Components/Icons/SelectDropDown.jsx
  frontend/src/Components/Pagination/Pagination.jsx
  frontend/src/Components/Pagination/Pagination.module.scss
  frontend/src/Components/PerPageSelect/PerPageSelect.jsx
  frontend/src/Components/PerPageSelect/PerPageSelect.module.scss
  frontend/src/Components/Sort/Sort.jsx
  frontend/src/Components/Sort/Sort.module.scss
  frontend/src/pages/Phones/Phones.jsx
  frontend/src/pages/Phones/Phones.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

fix(build): change the import
  backend/controllers/mobileModelsQuantity.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat(104): factor out backend URL
  frontend/package.json
  frontend/src/API/cartAPI.js
  frontend/src/API/favorietesAPI.js
  frontend/src/App.js
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/FAQchat/FAQchat.jsx
  frontend/src/Components/Forms/AuthorizationForm/UserLoginForm.js
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/helpers/backConnectionString.js
  frontend/src/pages/AccessoriesPage/AccessoriesPage.jsx
  frontend/src/pages/HomePage/hooks/useFetchTotalsOfCategories.jsx
  frontend/src/pages/Phones/Phones.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SIngleProductPage/hooks/useFetchModelData.jsx
  frontend/src/pages/Search/Search.jsx
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.jsx
  frontend/src/pages/Tablets/Tablets.jsx
  frontend/src/pages/User/UserDataInformation/UserDataInformation.jsx
  frontend/src/pages/User/UserUpdatePass/UserUpdatePass.jsx
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(7): configure lighthouse
  .gitlab-ci.yml
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

feat(7): analyze more pages with lighthouse
  .gitlab-ci.yml
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

fix(7): fix product page link
  .gitlab-ci.yml
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

feat(90): Buy Form after checkout
  frontend/src/Components/ShopByCategory/ShopByCategory.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(116): BrandNews Back+Front
  backend/controllers/brandNews.js
  backend/models/BrandNews.js
  backend/routes/brandNews.js
  backend/server.js
  frontend/src/Components/AdvertisingSlider/Slider.module.scss
  frontend/src/Components/BrandNews/BrandNews.jsx
  frontend/src/Components/BrandNews/BrandNews.module.scss
  frontend/src/pages/HomePage/HomePage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(121): add ErrorBoundary
  frontend/src/Components/ErrorBoundary/ErrorBoundary.js
  frontend/src/index.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(115): breadcrumbs last link, resolve cases for filters and sorts
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/Card/Card.module.scss
  frontend/src/Components/CardAccessories/CardAccessories.jsx
  frontend/src/Components/CardAccessories/CardAccessories.module.scss
  frontend/src/Components/ShopByCategory/ShopByCategory.jsx
  frontend/src/Components/ShopByCategory/ShopByCategory.module.scss
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.jsx
  frontend/src/Composition/Breadcrumbs/Breadcrumbs.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): add filter basis
  frontend/src/Components/Filter/Filter.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase
