Repository OttoMarcus/NiceGadget: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

.gitlab-ci.yml:

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
  GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  RULES_CHANGES_PATH: "**/*"
stages:
  - build
  - test
  - sonar
  - deploy

.base-rules:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - $RULES_CHANGES_PATH
    - when: manual
      allow_failure: true

.backend:
  extends: .base-rules
  variables:
    RULES_CHANGES_PATH: "backend/**/*"

.frontend:
  extends: .base-rules
  variables:
    RULES_CHANGES_PATH: "frontend/**/*"

backend-build:
  stage: build
  extends: .backend
  needs: []
  script:
    - echo "Compiling the backend code..."

frontend-build:
  stage: build
  extends: .frontend
  needs: []
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm run build
  artifacts:
    when: on_success
    paths:
      - frontend/build/

frontend-sentry:
  stage: build
  needs: ["frontend-build"]
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm run sentry:sourcemaps
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "frontend/**/*"

backend-test:
  stage: test
  extends: .backend
  needs: ["backend-build"]
  script:
    - echo "Testing the backend code..."

frontend-test:
  stage: test
  extends: .frontend
  needs: ["frontend-build"]
  image: node:latest
  before_script:
    - cd frontend/
    - npm install
  script:
    - npm run test:ci
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/
  artifacts:
    paths:
      - frontend/coverage/
      - frontend/junit.xml
    when: always
    reports:
      junit:
        - frontend/junit.xml

backend-sonar:
  stage: sonar
  extends: .backend
  needs: ["backend-test"]
  script:
    - echo "Deploying the backend code..."

frontend-sonar:
  stage: sonar
  extends: .frontend
  needs: ["frontend-test"]
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner

deploy-to-cloud-run:
  stage: deploy
  needs: ["backend-test"]
  image: registry.gitlab.com/gitlab-org/incubation-engineering/five-minute-production/library/google-cloud-sdk-for-gitlab:main
  script:
    - cp -r ./utils/* .
    - chmod +x cloud-run.sh
    - ./cloud-run.sh
  environment:
    name: $CI_COMMIT_REF_NAME
    url: $DYNAMIC_URL
  artifacts:
    reports:
      dotenv: deploy.env
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "backend/**/*"

deploy-to-firebase:
  stage: deploy
  needs: ["frontend-test"]
  image: node:latest
  script:
    - cd frontend/
    - npm install
    - npm i -g firebase-tools
    - cat "$FIREBASE_JSON" > ./firebase.json
    - cat "$FIREBASE_RC" > ./.firebaserc
    - firebase deploy --only hosting --token $FIREBASE_TOKEN
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - "frontend/**/*"

fix(64): add available field to accessories models schema
  backend/models/AccessoriesModels.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat(103): add basic checkout logic of accessories and admin possibility to...
  backend/controllers/accessoriesModelQuantity.js
  backend/models/AccessoriesModelQuantity.js
  backend/routes/accessoriesModelQuantity.js
  backend/server.js
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run

feat(126): Optimisation (AdvSlider and FAQChat)
  frontend/src/Components/AdvertisingSlider/Recotypole/Recotypole.jsx
  frontend/src/Components/AdvertisingSlider/Recotypole/Recotypole.module.scss
  frontend/src/Components/AdvertisingSlider/Recotypole/tumbleweed.png
  frontend/src/Components/AdvertisingSlider/Sakura/Sakura.module.scss
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/AdvertisingSlider/Slider.module.scss
  frontend/src/Components/FAQchat/FAQchat.jsx
  frontend/src/Components/FAQchat/Image/background.png
  frontend/src/Components/FAQchat/Image/facebook.png
  frontend/src/Components/FAQchat/Image/gmail.png
  frontend/src/Components/FAQchat/Image/instagram.png
  frontend/src/Components/FAQchat/Image/letter-x.gif
  frontend/src/Components/FAQchat/Image/support.gif
  frontend/src/Components/FAQchat/Image/telegram.png
  frontend/src/Components/FAQchat/Needhelp.jsx
  frontend/src/Components/FAQchat/Needhelp.module.scss
  frontend/src/pages/HomePage/HomePage.jsx
  frontend/src/pages/HomePage/HomePage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fit(124) Card discount styles
  frontend/package-lock.json
  frontend/package.json
  frontend/public/MocPic/hero-contact-us-sm.jpg
  frontend/public/MocPic/hero-contact-us.jpg
  frontend/src/Components/Card/Card.jsx
  frontend/src/Components/Card/Card.module.scss
  frontend/src/Components/CardAccessories/CardAccessories.jsx
  frontend/src/Components/Icons/Facebook.jsx
  frontend/src/Components/Icons/Instagram.jsx
  frontend/src/Components/Icons/Twitter.jsx
  frontend/src/Components/SearchForm/SearchForm.jsx
  frontend/src/pages/Contacts/Contacts.jsx
  frontend/src/pages/Contacts/Contacts.module.scss
  frontend/src/pages/Contacts/Contacts.scss
  frontend/src/pages/Search/Search.module.scss
  frontend/src/setupProxy.js
  frontend/src/styles/abstracts/_variables.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(109): fix card size and remove percentDiscount
  frontend/src/Components/BrandNews/BrandNews.jsx
  frontend/src/Components/CardAccessories/CardAccessories.module.scss
  frontend/src/Components/CardList/CardList.jsx
  frontend/src/Components/Cards/Card.jsx
  frontend/src/Components/Cards/Card.module.scss
  frontend/src/Components/Cards/CardAccessories.jsx
  frontend/src/Components/Carousel/Carousel.jsx
  frontend/src/Components/FAQchat/Needhelp.jsx
  frontend/src/Components/Favorite/Favorite.jsx
  frontend/src/Components/ProductTechSpecs/ProductTechSpecs.jsx
  frontend/src/Components/RouteComp/LogOut/Logout.jsx
  frontend/src/Components/RouteComp/Order/Order.jsx
  frontend/src/pages/AccessoriesPage/AccessoriesPage.jsx
  frontend/src/pages/AccessoriesPage/AccessoriesPage.module.scss
  frontend/src/pages/CartPage/CartPage.module.scss
  frontend/src/pages/Favorites/Favorites.jsx
  frontend/src/pages/Favorites/Favorites.module.scss
  frontend/src/pages/FavoritesPage/FavoritesPage.jsx
  frontend/src/pages/FavoritesPage/FavoritesPage.module.scss
  frontend/src/pages/PhonesPage/PhonesPage.jsx
  frontend/src/pages/PhonesPage/PhonesPage.module.scss
  frontend/src/pages/SearchPage/SearchPage.jsx
  frontend/src/pages/SearchPage/SearchPage.module.scss
  frontend/src/pages/TabletsPage/TabletsPage.jsx
  frontend/src/pages/TabletsPage/TabletsPage.module.scss
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): filters attempts
  backend/commonHelpers/filterParser.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Filter/Filter-react-filter.jsx
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Filter/Filter.module.scss
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

fix(107): fix buttons styles
  frontend/src/Components/Button/Button.jsx
  frontend/src/Components/Button/__snapshots__/Button.test.js.snap
  frontend/src/Components/Cart/Cart.jsx
  frontend/src/Components/CartButton/CartButton.jsx
  frontend/src/Components/Favorite/Favorite.jsx
  frontend/src/Components/Favorite/Favorite.module.scss
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.jsx
  frontend/src/styles/abstracts/_mixins.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

style(119): add original price on CartItem
  frontend/src/Components/Cards/Card.jsx
  frontend/src/Components/Cards/Card.module.scss
  frontend/src/Components/Cards/CardAccessories.jsx
  frontend/src/Components/Cart/Cart/Cart.jsx
  frontend/src/Components/Cart/Cart/Cart.module.scss
  frontend/src/Components/Cart/CartButton/CartButton.jsx
  frontend/src/Components/Cart/CartItem/CartItem.jsx
  frontend/src/Components/Cart/CartItem/CartItem.module.scss
  frontend/src/pages/CartPage/CartPage.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.module.scss
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.jsx
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.module.scss
  frontend/src/styles/abstracts/_mixins.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

style(105): fix selectable image gallery
  frontend/src/Components/SelectableImageGallery/SelectableImageGallery.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat: add order store, slice,asyncThunk
  backend/controllers/orders.js
  backend/models/Order.js
  backend/routes/orders.js
  frontend/src/App.js
  frontend/src/Components/BuyForm/BuyForm.jsx
  frontend/src/pages/OrdersPage/Orders.jsx
  frontend/src/pages/OrdersPage/Orders.module.scss
  frontend/src/routers/RootRouters.jsx
  frontend/src/store/favorites/favoriteSlice.js
  frontend/src/store/orders/order.js
  frontend/src/store/store.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat: add order store, slice,asyncThunk
  frontend/src/App.js
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat: add order store, slice,asyncThunk
  frontend/src/App.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

new logic
  backend/commonHelpers/filterParser.js
  backend/controllers/mobileProducts.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat: add order store, slice,asyncThunk
  frontend/src/App.js
  frontend/src/store/favorites/favoriteSlice.js
  frontend/src/store/orders/order.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(100) Contact page
  backend/controllers/hotPrices.js
  backend/routes/hotPrices.js
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/MocPic/iphone-frame-p-500.webp
  frontend/public/MocPic/pad-background.png
  frontend/src/Components/HotPrices/HotPrices.jsx
  frontend/src/Components/MapContent/MapContent.jsx
  frontend/src/Components/MapContent/MapContent.module.scss
  frontend/src/pages/Contacts/Contacts.jsx
  frontend/src/pages/Contacts/Contacts.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

fix: register form validation fix
  backend/validation/formValidationRules.js
  frontend/src/Components/Forms/UserRegFrom/validationSchema.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(22): add backend logic for filters, first success on requests
  backend/commonHelpers/filterParser.js
  backend/controllers/mobileProducts.js
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(136): Fixed Brand New & FAQChat Fixed
  frontend/src/Components/BrandNews/BrandNews.jsx
  frontend/src/Components/FAQchat/Needhelp.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(136): Fixed Brand New & FAQChat Fixed
  frontend/src/Components/BrandNews/BrandNews.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(135): test Sentry`s Error Boundary
  frontend/package.json
  frontend/src/Components/Cards/Card.jsx
  frontend/src/Components/ErrorBoundary/ErrorBoundary.js
  frontend/src/index.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

chore(135): delete sentry test function
  frontend/src/Components/AdvertisingSlider/Slider.jsx
  frontend/src/Components/Cards/Card.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): moved filter state to parent component
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(99): add logic for product quantity and available updating after order placement, cart validation before checkout
  backend/controllers/cart.js
  backend/routes/cart.js
  frontend/package-lock.json
  frontend/src/API/cartAPI.js
  frontend/src/Components/BrandNews/BrandNews.jsx
  frontend/src/Components/Button/Button.jsx
  frontend/src/Components/Button/Button.module.scss
  frontend/src/Components/Button/__snapshots__/Button.test.js.snap
  frontend/src/Components/BuyForm/BuyForm.module.scss
  frontend/src/Components/Cards/Card.jsx
  frontend/src/Components/Cards/Card.module.scss
  frontend/src/Components/Cards/CardAccessories.jsx
  frontend/src/Components/Cart/Cart/Cart.jsx
  frontend/src/Components/Cart/Cart/Cart.module.scss
  frontend/src/Components/Cart/CartButton/CartButton.jsx
  frontend/src/Components/Cart/CheckoutButton/CheckoutButton.jsx
  frontend/src/Components/Cart/CheckoutModal/CheckoutModal.jsx
  frontend/src/Components/Cart/CheckoutModal/CheckoutModal.module.scss
  frontend/src/Components/Cart/hooks/useValidateCartAndNavigate.js
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.jsx
  frontend/src/Components/Forms/CheckoutForm/CheckoutForm.module.scss
  frontend/src/Components/Forms/CheckoutForm/icons/cash.png
  frontend/src/Components/Forms/CheckoutForm/icons/mastercard.png
  frontend/src/Components/Forms/CheckoutForm/icons/paypal.png
  frontend/src/Components/Forms/CheckoutForm/icons/visa.png
  frontend/src/pages/CheckoutPage/CheckoutPage.jsx
  frontend/src/pages/CheckoutPage/CheckoutPage.module.scss
  frontend/src/pages/FavoritesPage/FavoritesPage.jsx
  frontend/src/pages/FavoritesPage/FavoritesPage.module.scss
  frontend/src/routers/RootRouters.jsx
  frontend/src/store/cart/cartSlice.js
  package-lock.json
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(22): join filters, sort and per page request, increase pagination links click area, add reset to first page in case of query change
  backend/commonHelpers/filterParser.js
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/pages/Phones/Phones.jsx
  frontend/src/pages/Phones/Phones.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

style(): fix gap for buttons on product page
  frontend/src/pages/SIngleProductPage/SingleProductPage.module.scss
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.module.scss
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(125): add buy together
  frontend/package-lock.json
  frontend/src/Components/BuyTogether/BuyTogether.jsx
  frontend/src/Components/BuyTogether/BuyTogether.module.scss
  frontend/src/Components/Cards/Card.jsx
  frontend/src/helpers/mixAccessoriesAndPhones.js
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/pages/SIngleProductPage/SingleProductPage.module.scss
  node_modules/.package-lock.json
  package.json
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(): fix card accessories for favorites
  backend/controllers/accessoriesModels.js
  backend/models/AccessoriesModels.js
  frontend/src/Components/Cards/CardAccessories.jsx
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

style for Danya
  frontend/src/pages/Orders/Orders.jsx
  frontend/src/pages/Orders/Orders.module.scss
  frontend/src/routers/RootRouters.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(137): fix-favor-for-card
  backend/controllers/wishlist.js
  backend/routes/wishlist.js
  frontend/src/Components/Cards/Card.jsx
  frontend/src/Components/Forms/UserRegFrom/UserRegForm.js
  frontend/src/pages/SIngleProductPage/SingleProductPage.jsx
  frontend/src/store/favorites/favoriteSlice.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

build(googlemaps): configure envs for frontend
  frontend/src/Components/MapContent/MapContent.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

build(googlemaps): inject envs during deploy to firebase
  .gitlab-ci.yml
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

fix(googlemaps): inject envs during frontend build
  .gitlab-ci.yml
Due: backend-build, frontend-build, backend-test, frontend-test, backend-sonar, frontend-sonar

feat(139): Admin styled
  frontend/src/pages/AdminPage/AdminCards/AdminCardsButtons/DiscountChange/DiscountChange.module.scss
  frontend/src/pages/AdminPage/AdminCards/AdminCardsButtons/QuantityChange/QuantityChange.module.scss
  frontend/src/pages/AdminPage/AdminOption/AdminOption.module.scss
  frontend/src/pages/AdminPage/AdminPage.module.scss
  frontend/src/pages/AdminPage/AdminPagination/AdminPagination.module.scss
  frontend/src/pages/AdminPage/AdminSearch/AdminSearch.module.scss
  frontend/src/pages/AdminPage/ItemsPerPage/ItemsPerPage.jsx
  frontend/src/pages/AdminPage/ItemsPerPage/ItemsPerPage.module.scss
  frontend/src/pages/AdminPage/ItemsPerPage/selectCustomStyles.js
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fit(123): Hot prices
  frontend/src/Components/HotPrices/HotPrices.jsx
  frontend/src/Components/HotPrices/HotPrices.module.scss
  frontend/src/pages/HomePage/HomePage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

add-new-func-favor
  frontend/src/pages/FavoritesPage/FavoritesPage.jsx
  frontend/src/pages/SingleAccessoriesPage/SingleAccessoriesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

fix(13): fix redirect after adding to cart, decrease <1, and discount price for cards on favorites page
  backend/controllers/cart.js
  frontend/src/Components/Cart/hooks/useHandleAddToCart.js
  frontend/src/pages/FavoritesPage/FavoritesPage.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

Contact page
  backend/controllers/hotPrices.js
  backend/controllers/salePoints.js
  backend/models/SalePoint.js
  backend/routes/salePoints.js
  backend/server.js
  frontend/src/Components/MapContent/MapContent.jsx
  frontend/src/pages/Contacts/Contacts.jsx
  frontend/src/pages/Contacts/Contacts.module.scss
  frontend/src/pages/Contacts/LocationAddress/AddressInfo.jsx
  frontend/src/pages/Contacts/LocationAddress/City.module.scss
  frontend/src/pages/Contacts/LocationAddress/CityTab.jsx
  frontend/src/pages/Contacts/Social/Social.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-cloud-run, deploy-to-firebase

feat(22): add filter params push to query and parse params from query; add filter desktop styles; optimize functions, reduce huge number of strings.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Filter/Filter-react-filter.jsx
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/Components/Filter/Filter.module.scss
  frontend/src/Components/Icons/svg/ClearFiltersIcon.jsx
  frontend/src/Components/Icons/svg/CloseFilterIcon.jsx
  frontend/src/Components/Icons/svg/FilterButtonIcon.jsx
  frontend/src/Components/Icons/svg/free-icon-font-clear-alt-13087934.svg
  frontend/src/Components/Icons/svg/free-icon-font-clear-alt-13087941.svg
  frontend/src/Components/Icons/svg/free-icon-font-clear-alt-13087973.svg
  frontend/src/Components/Icons/svg/free-icon-font-filter-3914713.svg
  frontend/src/Components/Icons/svg/free-icon-font-filter-3914787.svg
  frontend/src/Components/Icons/svg/free-icon-font-filter-slash-7931052 (1).svg
  frontend/src/Components/Icons/svg/free-icon-font-filter-slash-7931052.svg
  frontend/src/Components/Icons/svg/free-icon-font-filter-slash-7931191.svg
  frontend/src/Components/Icons/svg/free-icon-font-filters-7931171.svg
  frontend/src/Components/Icons/svg/free-icon-font-settings-sliders-3917092.svg
  frontend/src/Components/Icons/svg/free-icon-font-sort-alt-7435017.svg
  frontend/src/Components/Icons/svg/free-icon-font-sort-alt-7435048.svg
  frontend/src/Components/Icons/svg/free-icon-font-sort-amount-down-alt-7435127.svg
  frontend/src/Components/Icons/svg/free-icon-font-sort-amount-down-alt-7435148.svg
  frontend/src/Components/Icons/svg/free-icon-font-sort-amount-up-alt-7434900.svg
  frontend/src/Components/Icons/svg/free-icon-font-sort-amount-up-alt-7435062.svg
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase

feat(22): add quick fix on clear filters URL change
  frontend/src/Components/Filter/Filter.jsx
  frontend/src/pages/Phones/Phones.jsx
Due: backend-build, frontend-build, frontend-sentry, backend-test, frontend-test, backend-sonar, frontend-sonar, deploy-to-firebase
